<%= form_with(model: control_point) do |form| %>

  
    <div class="input-row">
      
      <%= form.text_field :title, placeholder: 'Title' %>
    </div>

    <%= form.hidden_field :event_id, :value => event.id %>
  
    <div class="submit-row">
      <%= form.submit class: 'btn' %>
    </div>
  <% end %>
  