<%= form_with(model: usership, data:{ 'usership-target' => 'form'}) do |form| %>
  <% if usership.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(usership.errors.count, "error") %> prohibited this usership from being saved:</h2>

      <ul>
        <% usership.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <%= form.hidden_field :model, :value => ship.model %>

    <%#= form.submit %>

<% end %>
