



<div class="my-hangar-window fleet-view">
  <div class="hangar-container">
 
  <table>
  <tr class="fleet-heading">
  <td>Id</td>
  <td>Manufacturer</td>
<td>Model</td>
<td>Year purchased</td>
<td>Owner</td>
  </tr>
  <% unless @allships.nil? %>
  
  <% @allships.each do | usership | %>
    <% puts 'data: ', usership %> 
  <% end %>
<% else %>
No Records
<% end %>
</table>

  </div>
</div>