



<div class="my-hangar-window fleet-view">
  <div class="hangar-container">
 
  <table>
  <tr class="fleet-heading">
<td>Manufacturer</td>
<td>Model</td>
<td>Year purchased</td>
<td>Owner</td>
  </tr>
  <% unless @allships.nil? %>
  
  <% @allships.each do | usership | %>
    <tr>
    <td><%= usership.ship.manufacturer.name || 'no data' %></td>
    <td><%= usership.ship.model || 'no data' %></td>
    <td></td>
    <td><%= usership.user.username || 'no data' %></td>
        
    </tr>
<% end %>
<% else %>
No Records
<% end %>
</table>

  </div>
</div>