
        <%= render '/codex/header'%>

        <div id="codex_title">
            <h1>Appalachin Mountains </h1>
        </div>


        <div id="codex_body" >
            <div class="codex-left-viewport">
                <div class="viewport-main">
                Views
                </div>
                <div class="viewport-footer">
                Related Articles
                </div>
            </div>
            <div class="codex-center-viewport">
            Daymar or Stanton 2b is a natural satellite of Crusader. It is named after one of the siblings from a tale called A Gift for Baba. The nearly circular orbit is said to represent 'his ease at getting lost in the story'. Darnell Ajay built the first permanent homestead on Daymar in 2906. [citation needed]
            <br></br>
            Daymar has a non-breathable nitrogen-methane atmosphere with trace amounts of hydrogen and is toxic to humans without breathing equipment. Dust storms are a frequent occurrence close to the surface, resulting in low-visibility conditions.
                <table>
                    <tr>
                        <td>Height</td><td>	30,000 m</td>
                    </tr>
                    <tr><td>Surface pressure</td>	<td>0.54 atm</td></tr>
                    <tr colspan="2"><td>Surface temperature range</td></tr>
                    
                    <tr><td>Day</td> <td>40 – 150 °C</td></tr>
                    <tr><td>Night</td><td>-90 – 20 °C</td></tr>
                </table>
            </div>
        </div>