<div id="start_screen">
<%= image_tag('starfarer_concept.jpg', class:'background')%>

    <div class="codex-intro-columns">
        <div class="home-text">
        Home screen
        </div>
        <div class="title">
        Codex
        </div>
        <div class="subtitle">
        Encyclopedia
        </div>
        <div class="year">
        95
        </div>
    </div>
    <div class="codex-start-buttons">
        <ul>
            <li class="disabled">
                <img src="https://www.kindpng.com/picc/m/149-1491757_transparent-search-icon-clipart-search-icon-png-circle.png">
                <div class="text-row">
                    <h2>Find</h2>
                    <h3>Search for articles</h3>
                </div>
            </li>
            <li class="disabled">
                <img src="https://www.kindpng.com/picc/m/149-1491757_transparent-search-icon-clipart-search-icon-png-circle.png">
                <div class="text-row">
                    <h2>Look and Listen</h2>
                    <h3>Create a media show</h3>
                </div>
            </li>
            <li class="disabled">
                <img src="https://www.kindpng.com/picc/m/149-1491757_transparent-search-icon-clipart-search-icon-png-circle.png">
                <div class="text-row">
                    <h2>Experiment</h2>
                    <h3>Learn by doing</h3>
                </div>
            </li>
            <li class="disabled">
                <img src="https://www.kindpng.com/picc/m/149-1491757_transparent-search-icon-clipart-search-icon-png-circle.png">
                <div class="text-row">
                    <h2>Take a tour</h2>
                    <h3>Journey through Codex</h3>
                </div>
            </li>
            <li class="disabled">
            <img src="https://www.kindpng.com/picc/m/149-1491757_transparent-search-icon-clipart-search-icon-png-circle.png">
            <div class="text-row">
                <h2>Explore Maps</h2>
                <h3>Travel the verse</h3>
            </div>
            </li>
            <li>
            <%= link_to codex_timeline_path do %>
                <%= image_tag("sundial.png") %>
                <div class="text-row">
                    <h2>Explore Historical Events</h2>
                    <h3>Journey through time</h3>
                </div>
            <% end %>
            </li>
            <li class="disabled">
                <img src="https://www.kindpng.com/picc/m/149-1491757_transparent-search-icon-clipart-search-icon-png-circle.png">
                <div class="text-row">
                    <h2>Play a game</h2>
                    <h3>Test your knowledge</h3>
                </div>
            </li>
            <li class="disabled">
            <img src="https://www.kindpng.com/picc/m/149-1491757_transparent-search-icon-clipart-search-icon-png-circle.png">
            <div class="text-row">
                <h2>Stay current</h2>
                <h3>Build a Star Citizen yearbook</h3>
            </div>
        </li>
        </ul>
    </div>
</div>