
<div id="invite-container">

<div class="invite-frame">
<h1>Join Event: <%= @event.title %></h1>


<%= render "/desktop/window3", task: @task %>



  </div>
  </div>

  <style>
  turbo-frame, form{
    display:flex;
    flex-direction:column;
  }
  </style>