
<div id="invite-container">

<div class="invite-frame">

<% unless @event.started? %>
<h1>Join Event: <%= @event.title %></h1>


<%= render "/desktop/window3", task: @task %>
  <% else %>
  <window style="display:flex; align-items:center; justify-content:center;">
Event already started!
</window>
  <% end %>
    </div>
  </div>

  <style>
  turbo-frame, form{
    display:flex;
    flex-direction:column;
  }
  </style>