<div data-controller="asl" style="display: flex;flex-direction: column;">
<div class="add-user-top">
    <div class="add-user-top-left">
        <%= render '/asl/asl_add_user_tabs' %>
    </div>
    <div class="add-user-top-right">
        <%= render '/asl/asl_add_action_buttons' %>
    </div>
</div>
<div class="add-user-bottom">
    <%= render '/asl/asl_add_user_list' %>
</div>


<a href="#"  class="button-class" data-action="click->asl#addFriend">Add Friend</a>

</div>
