<div class="add-contact-header">
<div class="add-contact-number">
ASL#:<input disabled id="asl_number" data-asl-target="aslNumber">
</div>
<div class="add-display-name">
Display Name:<input id="display_name" disabled data-asl-target="displayName">
</div>
<div class="add-contact-twitch">
Twitch:<input disabled id="twitch_name" data-asl-target="twitchName">
</div>
</div>



