<div class="add-user-top">
    <div class="add-user-top-left">
        <%= render 'asl_add_user_tabs' %>
    </div>
    <div class="add-user-top-right">
        <%= render 'asl_add_action_buttons' %>
</div>
</div>
<div class="add-user-bottom">
<%= render 'asl_add_user_list' %>
</div>


<button>Add friend</button>


<style>
#asl_add_user{
    height: 496px;
    width: 634px;
}
</style>