<tr>


<td>
<div class="admin-badge-svg">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 38">
    <%= raw badge.badge_image %>
  </svg>
</div>
</td>

<td>
<%= render 'issue_badge_form', badge: badge, user_badge: @user_badge, all_users: @altama_users %>
<hr>
</td>

<td>
<div id="<%= dom_id badge %>">
  <p>
    <%= link_to "Show this badge", badge %>
  </p>
</div>
</td>
</tr>