<p style="color: green"><%= notice %></p>

<h1>Badges</h1>

<div id="badges">
  <%#= render @badges %>

</div>

<div id="badges_container">
<%= link_to "My Badges", my_badges_path %>
<%= link_to "All Badges", all_badges_path %>
<%= link_to "Exit To Desktop", desktop_path %>
</div>