<h3>Participants- <%= giveaway.giveaway_users.count %></h3>
<% if giveaway.winner %>
Winner: <%= giveaway.winner %> 
<% end %>

<table style="width:500px;">
<tr>
<th>
joinDate
</th>
<th>
username
</th>
<th>
aec
</th>
<th>
karma
</th>
<th>
fame
</th>
</tr>
<% giveaway.giveaway_users.each do |user| %>
  <tr>
  <td>
  <p><%= user.created_at.strftime("%A %d, %B") %></p>
  </td>

  </td>
  </tr>
<% end %>
</table>