<div  id="shell" class="full">
    <%= render '/desktop/window-frame', app1: 'Altama Shell', task: task %>
        <div class="shell-container">
        <div id="prompt">

        </div>
        
            <% if task.state == 'vim' %>
                <%= render '/desktop/apps/shell_apps/vim' %>
            <% elsif task.state.include? 'acu' %>
                <%= render '/desktop/apps/shell_apps/acu' %>
            <% else %>
            <div id="command" data-controller="shell">
            <form action="/command" id="command_entry" method="get" accept-charset="UTF-8" >
            
            <input id="query" name="query" type="text"  />
            <input name="commit" type="submit" id="" value="" data-disable-with="Search" />
            </form>
            <div id="history" data-response="<%= task.response %>"></div>

            C:\ 
            <div id="input" contenteditable="true"></div><button id="caret" for="input">&nbsp;</button>
          
        </div> 
                
            <% end %>
        </div>
</div>

<div id="input" contenteditable="true"></div><button id="caret" for="input">&nbsp;</button>


<script>
    var close_button = document.getElementsByClassName('close-btn')[0];
   // const close_button = document.querySelectorAll('.close-btn.full');
    close_button.addEventListener('click', () => {
        localStorage.clear();
    });
</script>

