<div data-controller="desktop" id="asl" class="window">
    <%= render '/desktop/window-frame', app1: 'ASL', task: task %>
    <div data-controller="asl" >
        <div class="contact-list">
            <a href="#"><i class="asl-outline">John</a>
            <a href="#"><i class="asl-outline">Emily</a>
            <a href="#"><i class="asl-outline">Yamada</a>
        </div>
    </div>
</div>