<div data-controller="desktop" id="location_manager" class="window">
    <%= render '/desktop/window-frame', app1: 'Location Manager', task: task, windowed: windowed %>
        <div class="location-container">
        <div class="location-image">
        <%= image_tag("location_sidebar.png") %>
        </div>
        <div class="location-form">
            <%= render '/locations/min-form', location: @location %>
        </div>
        </div>
        <hr />
            <div class="control-buttons">
            <button disabled>< Back</button>
            <button data-action="click->desktop#new_location">Next ></button>
            <button>Cancel</button>
        </div>

    </div>