
<%= form_with(model: reward) do |form| %>


    <div>
      
      <%= form.text_field :title, placeholder:'Title' %>


      
      <%= form.number_field :amount, placeholder:'Amount' %>
      <%= form.submit 'create reward' %>
    </div>
  

  <% end %>