<h1>Editing non confidence</h1>

<%= render "form", non_confidence: @non_confidence %>

<br>

<div>
  <%= link_to "Show this non confidence", @non_confidence %> |
  <%= link_to "Back to non confidences", non_confidences_path %>
</div>
