<div id="<%= dom_id event_team %>">
  <p>
    <strong>Event:</strong>
    <%= event_team.event_id %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= event_team.team_id %>
  </p>

  <p>
    <%= link_to "Show this event team", event_team %>
  </p>
</div>
