<h1>Editing event team</h1>

<%= render "form", event_team: @event_team %>

<br>

<div>
  <%= link_to "Show this event team", @event_team %> |
  <%= link_to "Back to event teams", event_teams_path %>
</div>
