<div data-controller="acu" id="acu" style="background-color:'blue'">

    <div class="loading">
        <div class="content" style="color:white; font-family:'dos'">
        <pre>
            :::     :::    ::::::::::: :::     ::::    ::::      :::     <br/>
            :+: :+:   :+:        :+:   :+: :+:   +:+:+: :+:+:+   :+: :+:   <br/>
            +:+   +:+  +:+        +:+  +:+   +:+  +:+ +:+:+ +:+  +:+   +:+  <br/>
            +#++:++#++: +#+        +#+ +#++:++#++: +#+  +:+  +#+ +#++:++#++: <br/>
            +#+     +#+ +#+        +#+ +#+     +#+ +#+       +#+ +#+     +#+ <br/>
            #+#     #+# #+#        #+# #+#     #+# #+#       #+# #+#     #+# <br/>
            ###     ### ########## ### ###     ### ###       ### ###     ### <br/>
            </pre>
        </div>
        <div class="action-bar">
        <a href="#" style="color:white; font-family:'dos'">
            Press enter to continue
            </a>
        </div>
        <form action="/acu_command" id="command_entry" method="get" accept-charset="UTF-8" >
        <input id="query" name="query" type="text"  />
        </form>
    </div>

</div>