<div data-controller="traderun" id="traderun">

  <% if task.state.include?('trade_run') %>
    <%= render '/trade123/trade_run' %>
  <% elsif task.state.include?('trade_session') %>
    <%= render '/trade123/trade_session' %>
  <% else %>
    <%= render '/trade123/welcome' %>
  <% end %>

</div>


