<div data-controller="vim" id="vim" >

    <form action="/vim_command" id="vim_command_prompt_container" method="post" accept-charset="UTF-8" >
        <div id="vim_text">
            <div class="line-numbers scroll" id="line-numbers" data-vim-target="linenumbers">
            <% for i in 0..99 %>
                    <span class="line-number"><%= i %></span>
                <% end %>
            </div>
            <%= text_area_tag "text_content", nil, size: "27x7", class:"scroll" %>
           
            
        </div>
        <div id="vim_command" class="insert">
            <h2>--INSERT--</h2>
                <div id="vim_command_prompt">
                    <input id="vim_query" name="query" type="text" />
                    <input id="file_text" name="text" type="text" />
                    <input name="commit" type="submit" id="" value="" />
                </div>
        </div>
    </form>
   
</div>

