<h1>Editing rule proposal</h1>

<%= render "form", rule_proposal: @rule_proposal %>

<br>

<div>
  <%= link_to "Show this rule proposal", @rule_proposal %> |
  <%= link_to "Back to rule proposals", rule_proposals_path %>
</div>
