<menu>
    <ul>
        <li>
        File
        </li>
        <li>
        Edit
        </li>
        <li>
        View
        </li>
        <li>
        Tools
        </li>
        <li>
        Help
        </li>
    </ul>
</menu>