
<div  class="rfa-open-container">
  
  <div class="rfa-params column">
     <%= render 'params_pane'%>
  </div>

  <div class="rfa-comms column">
    <%= render 'comm_pane' %>
  </div>

  <div class="rfa-info column" data-rfa-target="appsPane">
     <%= render 'info_pane'%>
  </div>
    
  <div class="bottom-frame">

      <a data-action="click->rfa#open"  class="grey-button">
          <span>Submit as <strong>Open</strong></span>
      </a>
      
      <span data-rfa-target="status_button" data-action="click->rfa#statusbutton"
      class="chevron-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" id="chevron" class="" height="16" viewBox="0 0 16 16" focusable="false" role="presentation" data-garden-id="buttons.icon" 
      data-garden-version="8.44.0" class=""><path fill="currentColor" 
      d="M12.688 5.61a.5.5 0 01.69.718l-.066.062-5 4a.5.5 0 01-.542.054l-.082-.054-5-4a.5.5 0 01.55-.83l.074.05L8 9.359l4.688-3.75z"></path></svg></span>

    <ul data-rfa-target="status_menu" class="status-menu">
      <li data-action="click->rfa#open" >
       <small class="status-box top-status-In Progress"></small> <span>Submit as <strong>Open</strong></span>
      </li>

      <li data-action="click->rfa#pending" >
       <small class="status-box top-status-Pending"></small> <span>Submit as <strong>Arrived</strong></span>
      </li>

      <li data-action="click->rfa#hold" >
       <small class="status-box top-status-On Hold"></small> <span>Submit as <strong>On-hold</strong></span>
      </li>

      <li data-action="click->rfa#solved" >
       <small class="status-box top-status-Solved"></small> <span>Submit as <strong>Solved</strong></span>
      </li>
    </ul>
    <div id="status_field" class="field">
    
    </div>
  </div>





</div>


