@import 'mixins';
#asl{
    width:250px !important;
    height: 490px;

    margin:0px;
    left: 76%;
     top: 17%;
    .asl-container{
        margin-right:5px;
        height: 99%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    content{
        background-color: $light_grey;
        justify-content: space-between;
    }
    .content-header{
        margin-bottom: 10px;
    }
    .message-footer{
        .pull-right{
            margin-left: auto;
        }
    }
    .message-window{
        left: -280px;
        top: 80px;
    }

    .contact-list{
        display:flex;
        flex-direction:column;
        
        width:95%;
        height: 84%;
        margin-top:60px;
        border-bottom:$highlight_border;
        border-right:$highlight_border;
        border-top:$shadow_border;
        border-left:$shadow_border;
        svg{
            width:15px;
            height:auto;
            margin-right:5px;
            transform: translateY(2px);
        }
        a{
            padding:5px 2px;
            display:flex;
            color:blue;
            text-decoration:none;
            text-align:left;
            align-items: center;
            img{
                margin-right:5px;
                height: fit-content;
                width: 20px;
            }
        }
    }
}

.asl-status-container{
    width:63%;
    padding:5px;
    display:flex;
    align-items: center;
font-family: 'windows';
font-size:1.1rem;
    border-top:$shadow_border;
    border-left:$shadow_border;
    border-right:$highlight_border;
    border-bottom:$highlight_border;
}

.asl-status-container img{
height:90%;
margin-right:5px;
}

.asl-button-container{
    width:55px;
    padding:5px;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-top:$highlight_border;
    border-left:$highlight_border;
    border-right:$shadow_border;
    border-bottom:$shadow_border;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.asl-button-container .first-char{
    font-size: 26px;
    transform: scaleY(0.8);
}
.asl-button-container .second-char{
    font-size: 30px;
    transform: scaleY(0.8) translateY(-2px);
    
}
.asl-button-container .last-char{
    font-size: 26px;
    transform: scaleY(0.8);
}
.bottom-row{
    height: 30px;
    display:flex;
    width: 97%;
    padding: 4px;
    justify-content: space-between;
}

.contact-seperator{
    font-family: 'windows';
    transform: scaleY(0.8);
    display: flex;
    flex-direction: row;
    hr{
        display:inline-block;
        border:none;
        border-bottom:1px solid white;
        border-top: 1px solid #828282;
        width:39%;
        height:1px;
    }
}


.add-user-button{
    border-top:$highlight_border;
    border-left:$highlight_border;
    border-right:$shadow_border;
    border-bottom:$shadow_border;
    width:95%;
    text-align:center;
}

.add-user-row{
    width:100%;
    display: flex;
    margin-top: 3px;
    align-items: center;
    justify-content: center;
}

/* Added August 9th  */
#asl_add_user{
    height: 496px;
    width: 634px;

content{
    background-color:transparent;
    margin: 2px;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    position:relative;
    justify-content: space-between;
}
.tabs ul, .tabs li{
    list-style:none;
    padding:0px;
    margin:0px;
    display:flex;
}
.button-class{
    width: 100px;
    margin-right: 10px;
    padding: 0px;
    align-self: end;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabs li{
    border-top:$highlight_border;
    border-left:$highlight_border;
    border-right:$shadow_border;
    border-bottom:$shadow_border;
    display:flex;
    height:20px;
    padding:3px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tabs{
    margin-top: 11px;
}
#asl_add_user .row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.tab-content{
    border-top:$highlight_border;
    border-left:$highlight_border;
    border-right:$shadow_border;
    border-bottom:$shadow_border;    
    width: 100%;
    padding: 21px 12px 16px 16px;
    height:169px;
}
.results{
  //  margin: 5px 14px;
    border-top:$highlight_border;
    border-left:$highlight_border;
    border-right:$shadow_border;
    border-bottom:$shadow_border;    
    position:relative;
    padding: 10px 8px 10px 0px;
    margin: 13px 14px 9px 10px;
}
.results-header{
    position:absolute;
    top:-10px;
    left:2px;
    background-color: $light_grey;
}
.results-container{
    display: flex;
    height: 134px;
    overflow: scroll;
    flex-direction: column;
    background-color:white;
    border-bottom:$highlight_border;
    border-right:$highlight_border;
    border-left:$shadow_border;
    border-top:$shadow_border;
    margin-top:6px;
}
.tab-action{
    border-top:$highlight_border;
    border-left:$highlight_border;
    border-right:$shadow_border;
    border-bottom:$shadow_border;    
    margin-top: 44px;
    position: relative;
    padding: 10px;
    align-items: center;
    display: flex;
    height: 38px;
}
.tab-form{
    display:flex;
    margin-top:10px;
    width:100%;
    label{
        margin-right: 7px;
    }
    form{
        width:100%;
    }
    input{
        border-top:$highlight_border;
        border-left:$highlight_border;
        border-right:$shadow_border;
        border-bottom:$shadow_border; 
        width: 93%;
        padding: 4px;  
    }
}
.add-user-top-right,
.add-user-top-left{
display:inline-block;
}
.add-user-top-left{
    width:69%;
}
.add-user-top-right{
    border-top:$highlight_border;
    border-left:$highlight_border;
    border-right:$shadow_border;
    border-bottom:$shadow_border; 
    height: 200px;
    top: 10px;
    right: 12px;
    position: absolute;
    display: inline-flex;
    width: 106px;
    padding:17px 15px 17px 20px;
    flex-direction: column;
}

.action-button-container{
display:flex;
height:100%;
justify-content: space-between;
flex-direction:column;
}
.row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.tab-action-header{
    display:inline-block;
    position:absolute;
    top:-10px;
    background-color: $light_grey;
}
.tab-description{
    margin-left: 9px;
}
.results-list{    
    border-top:$highlight_border;
    border-left:$highlight_border;
    border-right:$shadow_border;
    border-bottom:$shadow_border; 
}
.results-list .row{
    padding:0px 6px;
}
.results-header-row .column{
    background-color: $light_grey;
    border-top:$highlight_border;
    border-left:$highlight_border;
    border-right:$shadow_border;
    border-bottom:$shadow_border; 
    width: 18%;
    display: flex;
    padding: 0px 5px;
    height: 20px;
}
.selected-row {
    background-color: blue;
    color: white;
}

}



#asl_add_contact, #asl_message{
.add-contact-header,.add-contact-header div{
    display:flex;
    align-items: center;
    margin: 0px 3px;
}
.add-contact-header input{
    width: 90px;
    margin-left:2px;
    padding:5px;
}

.message-request-header{
    position:absolute;
    top:-10px;
    left:5px;
    background-color: $light_grey;
}
.message-request-body{
    height: 192px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;    
    margin-top: 12px;
    .row{
        margin-top: 3px;
        align-items: center;
        height: 100%;
    }.column{
        text-align: center;
    }
    .column img{
        width:30px;
    }
    .row .column:first-child{
        width: 220px;
    }
}
.message-request-body, .message-response-buttons{
    border-top:$highlight_border;
    border-left:$highlight_border;
    border-right:$shadow_border;
    border-bottom:$shadow_border; 
    position:relative;
}
.message-footer-buttons{
    margin-bottom: 15px;
    .row{
    display: flex;
    justify-content: space-between;
    }
    .column{
        display: flex;
        &:last-child .button-class:last-child{
            margin-left:10px;
        }
    }
    .button-class{
        padding: 6px 6px;
    }
}
.message-response-buttons{
    padding: 10px 6px;
    
    width: 96%;
    top: -10px;
    .button-class{
        padding: 5px 0px;
        width: 136px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .row{
        justify-content: space-between;
    }
}
.message-request-body, .message-response-buttons{
    .row{
        display:flex;
    }
}
.add-contact-header{
    border-top:$highlight_border;
    border-left:$highlight_border;
    border-right:$shadow_border;
    border-bottom:$shadow_border; 
    padding: 10px 4px 4px 0px;
    position:relative;
}

.add-contact-top{
    display:flex;
    flex-direction:row;
}
.add-user-right{
    display:flex;
    flex-direction:column;
    margin-top: 8px;
    width:100%;
    padding-right: 5px;
}
.add-user-left img{
    width: auto;
    display: block;
    height: 355px;
    padding: 1px;
    border: 2px solid #464646;
    margin: 8px;
}
.contact-message{
    border:1px solid black;
    padding: 13px 20px 17px 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:11px;
}
    #asl_number, #twitch_name{
    background-color:transparent;
    border-bottom:$highlight_border;
    border-right:$highlight_border;
    border-left:$shadow_border;
    border-top:$shadow_border; 
    }
    #asl_number{
        width: 80px;
    }
}

#asl_add_contact {
    height:450px;
content{
    background-color:transparent;
    margin-top:5px;
}
    .group-header{
        position:absolute;
        top:-10px;
        left:10px;
        background-color: $light_grey;
    }
    .group-container{
        position:relative;
        margin-top: 42px;
        height: 100px;
        border-bottom:$highlight_border;
        border-right:$highlight_border;
        border-left:$shadow_border;
        border-top:$shadow_border; 
    }     
    .group-form{
        height:100%;
        display:flex;
        flex-direction:column;
        align-items: flex-start;
        justify-content: flex-start;
        padding:0px 10px 0px 13px;
    } 
    .group-form-row{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        margin:13px 0px;
        align-items: center;
        width:100%;
        select, input[type="text"]{
            width: 270px;
            padding: 4px;
        }
        input[type="radio"]{
            margin:0px;
            color:black;
        }
    }     
}

#asl_message{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 0.5; }
        100% { opacity: 1; }
      }
      
      .blinking {
        animation: blink 1s infinite;
      }
      

    .incoming-request{
        margin-top:7px;
        height:100%;
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        .message-info-pane{
            width:100%;
        }
        .column input{
            text-align:center;
        padding:1px 0px;
        width: 100%;
        }
    }
    .message-field{
        margin-top:3px;
        height:auto;
        &.maximized{
            height: 50%;
            textarea{
                height: 100%;
            }
        }
        textarea{
            width: 99%;
            height:70px;

            border-bottom:$highlight_border;
            border-right:$highlight_border;
            border-left:$shadow_border;
            border-top:$shadow_border; 
        }
    }

    .message-buttons{
        .column{
            display:flex;
            img{
                width:44px;
                border-bottom:$highlight_border;
                border-right:$highlight_border;
                border-left:$shadow_border;
                border-top:$shadow_border; 
            }
        }
        .button-class{
            width: 63px;
            height: 36px;
            padding: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            &:first-child{
                margin-right: 16px;
            }
        }
        padding-right: 7px;
        padding-bottom: 4px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .message-info-pane{
        display:flex;
        flex-direction:column;
        margin-top: 15px;
        #message_chars{
            height: 15px;
        }
        .row{
            width:100%;
            display:flex;
            flex-direction:row;
            justify-content: space-between;
            &:last-child{
                margin-top: 13px;
            }
        }
        .column{
            display:flex;
            img{
                width:87%;
            }
        }
        .button-class{
            padding: 0px;
            width: 76px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 4px;
            &.square{
                width: 21px;
                height: 21px;
                padding: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0px 2px;
            }
        }
        input{
            background-color:transparent;
            border-bottom:$highlight_border;
            border-right:$highlight_border;
            border-left:$shadow_border;
            border-top:$shadow_border; 
            width: 80px;
            margin-left: 10px;
        }
        #message_receiver_username{
            width:160px;
        }
        #message_twitch{
            width:140px;
        }
        #message_chars{
            width:38px;
        }
    }
    .message-history{
        background-color:white;
        height:143px;
        border-bottom:$highlight_border;
        border-right:$highlight_border;
        border-left:$shadow_border;
        border-top:$shadow_border; 
        padding: 2px 3px;
        font-size:1.1rem;
        overflow:scroll;
        ul,li{
            list-style:none;
            margin:0px;
            padding:0px;
            display:block;
        }
    }
}

.button-class.disabled{
color:#979797;
    &:hover{
        cursor: asset-url('arrow.cur'), auto !important;
        color:red;
    }
}

/* ASL status */
.status-list{
    background-color:#c0c0c0;
    width: 170px;
    display: block;
    position:absolute;
    left:0px;
    top:-270px;
    border-top:$highlight_border;
    border-left:$highlight_border;
    border-right:$shadow_border;
    border-bottom:$shadow_border; 
}
.asl-status-container{
    position:relative;
    &:hover{
        cursor: asset-url('Cursor_15.cur'), auto;
    }
    .slideout {

        bottom: 0;
        left: 0;

        transition: transform 0.3s ease-in-out;
        transform: translateY(100%);
        z-index: 1000;
      }
      
      .slideout.shown {
        transform: translateY(0);
      }
      
      .hidden {
        display: none;
      }

}
.status-list ul,.status-list li{
list-style:none;
padding:0px;
margin:0px;
}
.asl-status-icon{
    margin-right:6px;
}

.status-list li{
    padding: 5px 8px;
   display:flex;
   cursor: asset-url('Cursor_15.cur'), auto;
   &:hover{
    background-color:blue;
    a{color:white;}
   }
}





/* END STATUS */