@import 'mixins';
#asl{
    width:250px !important;
    height: 490px;
    right:initial;
    left:12%;
    margin:0px;
    padding:0px;
    .asl-container{
        margin-right:5px;
    }
    .content-header{
        margin-bottom: 10px;
    }
    .message-footer{
        .pull-right{
            margin-left: auto;
        }
    }
    .message-window{
        left: -280px;
        top: 80px;
        min-height: 340px;
        max-height: 400px;
        width: 469px;
        z-index:9001;

        @include close_btn;

        .message-content{
            margin-top: 80px;
            padding-right: 20px;
            padding-left: 6px;
            textarea{
                height:170px;
                width:100%;
            }
        }
    }
    .contact-list{
        display:flex;
        flex-direction:column;
        background-color:#e8e8e8;
        width:100%;
        height:100%;
        margin-top:60px;
        border-bottom:$highlight_border;
        border-right:$highlight_border;
        border-top:$shadow_border;
        border-left:$shadow_border;
        svg{
            width:15px;
            height:auto;
            margin-right:5px;
            transform: translateY(2px);
        }
        a{
            padding:5px 2px;
            display:block;
            color:blue;
            text-decoration:none;
            text-align:left;
        }
    }
}