@import 'mixins';
#conquest{    
    width:100vw;
    height:100vh;
    margin:0px;
    padding:0px;
    background-color:black;
    overflow: hidden;
    .staff-code{
        margin-right:20px;
        text-transform: uppercase;
    }
    .btn, .btn:visited, .btn:link{
        text-transform: uppercase;
        border: none;
        background-color: white !important;
        font-family: 'dos';
        font-size: 1.3rem;
        color:black;
        height:30px;
        cursor: pointer;
        &:hover{
            background: repeating-conic-gradient($light_grey_shadow 0% 25%, transparent 0% 50%) 50% / 3px 3px !important;
            padding:0px 5px;

            color:white;
        }
    }
    a, a:visited{
        color:white;
        text-decoration:none;
    }
    .conquest-window{
    color:white;
    font-family: 'dos';
    height:100%;
    padding-top:33px;
    h1{
        font-family:'Times New Roman', Times, serif;
    }
    h2{
        margin:0px;
        text-align:center;
    }
    }
    .popup  {
        width: 330px;
        margin: 0px auto;
        border: 10px solid white;
        border-style: double;
        padding: 10px;
        font-size: 1.4rem;
        .hr{
        width:100%;
        display:block;
        text-align:center;
        }
        .event-list{
            padding-top: 20px;
            max-height: 400px;
            display: flex;
            flex-direction: column;
            overflow:hidden;
        }
        .event-row{
            width:100%;
            padding:10px;
            margin-left:10px;
            cursor:pointer;
            color:white;

            &:hover{
                background-color:white;
                color:black;
            }
        }
        input{
            background-color:black;
            border:1px solid white;
            padding:2px;
            color:white;
            font-family: 'dos';
            font-size: 1.4rem;
        }
        input[type=submit]{
            cursor:pointer;
            padding:10px;
            &:hover{
                cursor:pointer;
                background-color:white;
                color:black;
            }
        }
        .input-row{
            margin:10px 0px;
        }
        .submit-row{
            text-align:center;
            width:100%;
        }
        .new-event{
            margin-top:20px;
            display:block;
            cursor:pointer;
        }
        .new-event-row{
            width:100%;
            display:none;
            flex-direction:row;
            justify-content: center;
            align-items: center;
        }
    }
    .conquest-header{
        display: flex;
        padding: 10px;
        flex-direction: row;
        align-items: center;
        h1{
            margin:0px;
        }
        .overlay-buttons{
            text-align: center;
            width:100%;
            
            .btn{
                color:black;
            }
        }
    }
    .conquest-team{
        flex-direction: column;
        .event-team{
            display:flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom:20px;
        }
    }
    .conquest-body{
        display:flex;
        width:100%;
        height:100%;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        .conquest-controlpoints{
            width:60%;
        }
        .conquest-records{
            width:30%;
        }
        .column{
            border: 2px solid white;
            padding:5px;
            h2{
                background-color: black;
                width: auto;
                padding: 0px 5px;
                text-align: center;
                text-transform: uppercase;
                font-size: 1.2rem;
                letter-spacing: 1.1px;
                margin: -25px auto 0px auto;
            }
           
            &:first-child{width:20%}
            padding:15px;
            height:100%;
            border-right:1px solid white;
            display:flex;
            .create-control-point{
                margin: 30px 0px 50px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                form{
                    display:flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .submit-row{
                        flex-basis: 100%;
                    }
                    .input-row{
                      width:70%;
                      input{
                          width:100%;
                      }
                    }
                    #control_point_title, #team_team_name{
                        font-family:'dos';
                        background-color:black;
                        padding:10px;
                        border:1px solid white;
                        color:white;
                        &:focus{
                            outline:none;
                        }
                    }
                }
            }
        }
        .conquest-controlpoints,.conquest-records{
            flex-direction: column;
         .control-point{
            align-items: center;
            display: flex;
            justify-content: space-around;
            border: 4px double white;
            margin: 5px 0px;
            padding:5px;
                h4{
                    width: 100px;
                }
                .timer{
                    width:40px;
                }

            &.captured{
                
            }
         }   
        }
        .conquest-records{
            .event-record-card{
                padding:10px;
                display:flex;
                flex-direction: column;
                border:3px solid white;
            }
        }
    }
    .team-container{
        ul,li{
            padding:0px;
            margin:0px;
            list-style-type: none;
        }
        ul{
            width: 300px;
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
        }
        &.staff ul{
            width:auto;
        }
        .active .btn{
            background: repeating-conic-gradient(green 0% 25%, transparent 0% 50%) 50% / 3px 3px;
            padding:0px 5px;
        }
    }
    .staff {
        .control-point{
            display:flex;
            flex-direction:column;
        } 
        .control-point-timer{
            margin:20px 0px;
            a{
                color: white;
                text-decoration: none;
                border: 1px solid white;
                padding: 5px;
            }
        }
        form{
            width: 200px;
            margin: 0px auto;
            text-align: center;
            input[type=submit]{
                color: white;
                font-size: 1rem;
                padding: 7px;
                font-family: 'dos';
                &.btn{
                    color:black;
                    &:hover{
                        color:white;
                    }
                }
            }
            #staff_code{
                font-size: 3rem;
                background-color: black;
                color: green;
                font-family: 'dos';
                text-transform: uppercase;
                width: 200px;
                text-align: center;
                margin-bottom: 20px;
            }
        }
        .column:first-child{
            width:auto;
        }
    }
}

.conquest-overlay{
    width:100%;
    height:500px;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    .overlay-chart{
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
    .progress-ring{
display:flex; 
align-items: center;
justify-content: center;
    }
    }
.captured-by, .overlay-timers, h4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:900;
    text-align: center;
}

$configs: (
	chart-two: (
		svgSize: 200px,
		percentage: 50,
		strokeWidth: 15px,
		backgroundColor: #305556,
		foregroundColor: #d0f09e,
		labelColor: #c6e8d7,
		labelFontSize: 2.5rem,
		duration: 3s,
		animationDelay: 1s
	)
);


/* ------- DO NOT EDIT BELOW --------- */
$pi: 3.14;
$labelData: '';
@for $i from 0 to 101 {
	$labelData: $labelData + $i + '%' + '\a';
}

@each $chart, $param in $configs {
	
	$c: (map-get($param, svgSize) - map-get($param, strokeWidth)) * $pi;
	$cOffSet: (map-get($param, percentage)/100)*$c;
	
	.#{$chart} {
		width: map-get($param, svgSize);
		height: map-get($param, svgSize);
		margin: 0;
		position: relative;
		
		&.animate {
			svg .circle-foreground {
				animation: offset map-get($param, duration) ease-in-out forwards;
				animation-delay: map-get($param, animationDelay);
			}
			figcaption:after {
				animation: #{$chart}-label map-get($param, duration) steps(map-get($param, percentage)) forwards;
				animation-delay: map-get($param, animationDelay);
			}
		}

		svg {
			width: 100%;
			height: 100%;
			.circle-background {
				r: (map-get($param, svgSize) - map-get($param, strokeWidth))/2;
				cx: 50%;
				cy: 50%;
				fill: none;
				stroke: map-get($param, backgroundColor);
				stroke-width: map-get($param, strokeWidth);
			}
			.circle-foreground {
				@extend .circle-background;
				stroke: map-get($param, foregroundColor);
				stroke-dasharray: $cOffSet $c;
				stroke-dashoffset: $cOffSet;
				stroke-linecap: round;
				transform-origin: 50% 50%;
				transform: rotate(-90deg);
			}
		}
		figcaption {
			display: inline-block;
			width: 100%;
			height: map-get($param, labelFontSize);
			overflow: hidden;
			text-align: center;
			color: map-get($param, labelColor);
			position: absolute;
			top: calc(50% - #{map-get($param, labelFontSize)/2});
			left: 0;
			font-size: 0;
			&:after {
				display: inline-block;
				content: $labelData;
				white-space: pre;
				font-size: map-get($param, labelFontSize);
				line-height: map-get($param, labelFontSize);
			}
		}
	}
	@keyframes #{$chart}-label {
		100% {
			transform: translateY(map-get($param, labelFontSize) * (-(map-get($param, percentage))));
		}
	}
}
@keyframes offset {
	100% {
		stroke-dashoffset: 0;
	}
}

.captured .chart-two .circle-background{
background-color: red;
stroke:red;
}

}