@import 'mixins';
#desktop{
    background-color: $default_background;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height:100vh;
    width:100vw;
    margin:0px;
    position:relative;
    .live-desktop{
        height:100%;
        padding:20px;
        display:flex;
        flex-direction:column;
    }
    .desktop-icon{
        width:40px;
        height:40px;
        text-align: center;
        font-size: 0.8rem;
        text-decoration: none;
        color: white;
        font-weight: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom:40px;
        border:1px dashed transparent;
        &:hover{
            border:1px dashed black;
        }
        img{
            width:100%;
        }
    }
}