@import 'mixins';
html{
    width:100%;
    height:100%;
}
#task_manager{
    width:300px;
    height:300px;
    display:none;
    background-color:$light_grey;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-left: 1px solid black;
    ul.task-list{
        display: block;
        width: 240px;
        background-color: white;
        height: 160px;
        margin: 40px auto;
        border-top: 1px solid black;
        border-left: 1px solid black;
        padding: 0px;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        list-style:none;
        padding-left:0px 5px;
    }
}
#desktop{
    background-color: $default_background;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height:100vh;
    width:100vw;
    margin:0px;
    position:relative;
    cursor: image-url('arrow.png');
    overflow:hidden;
    .live-desktop{
        height:100%;
        padding:20px;
        display:flex;
        flex-direction:column;
    }
    .desktop-icon{
        width:40px;
        height:40px;
        text-align: center;
        font-size: 0.8rem;
        text-decoration: none;
        color: white;
        font-weight: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom:40px;
        border:1px dashed transparent;
        &:hover{
            border:1px dashed black;
        }
        img{
            width:100%;
        }
    }
    .bootup{
        width: 100vw;
        height: 100vh;
        background-color: black;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        h2{
            font-family:'Times New Roman', Times, serif;
            color: white;
            margin: 0px;
            font-size: 6rem;
            font-weight: 100;
            transform: translateY(-200px);
            animation: fadein 5s;
        
        }
        img{
            width:80%;
            animation: fadein 5s;
        }
    }
    .window{
        position: absolute;
        right: 50%;
        top: 50%;
        width: 709px;
        height:523px;
        background-color: $light_grey;
        border-left: $highlight_border;
        border-top: $highlight_border;
        border-right:$shadow_border;
        border-bottom:$shadow_border;
        hr{
            margin-bottom: 6px;
            width: 100%;
        }
        .status-bar{
            position:absolute;
            bottom:4px;
            width:calc(100% - 16px);
            border-bottom: $highlight_border;
            border-right: $highlight_border;
            border-top:$shadow_border;
            border-left:$shadow_border;
            background-color: $light_grey;
            padding-bottom:2px;
            padding-left: 4px;
            padding-top: 2px;
            font-size: 0.9rem;
        }
        .window-container{
            flex-direction: column;
            height: calc(100% - 32px);
            padding:5px;
            margin-top:23px;
            position:relative;
        }
        ul, .window-toolbar{
            list-style:none;
            padding:0px;
            margin:0px;
            display:flex;
            align-items: center;
            flex-direction: row;
            padding-left:3px;
        }
        .window-menu,.window-toolbar{
            width:100%;
        }
        .window-toolbar{
            height: 26px;
        }
        .window-body-container{
            background-color:white;
            border-bottom: $highlight_border;
            border-right: $highlight_border;
            border-top:$shadow_border;
            border-left:$shadow_border;
            padding: 0px 12px;
            height: calc(100% - 93px);
            width:calc(100% - 26px);
            display:flex;
            .desktop-icon{
                height:88px;
                width:74px;
                font-size:0.9rem;
                color:black;
                padding-bottom:0px;
                margin:0px 10px;
            }
            .icon-frame{
                width:42px;
                height:42px;
                overflow: hidden;
            }
            .new-location{
                background-position: top;
                object-fit: contain;
                transform: translateX(-197px) translateY(-295px);
                width: 1624px;
                height: auto;
            }
        }
        h4,h3{
            display:block;
            width:100%;
            margin:0px;
        }
        .content-body{
            height:77%;
            margin: 0px 4px;

        }
        #window_frame{
            position:absolute;
            border-bottom:none;
        }
        &.config_window{
            width: 573px;
            height: 420px;
            z-index:9001;
            .window-container{
                flex-direction: row;
                height: auto;
            }
            .dialogue-window-menu{
                height:54px;
                display:flex;
                flex-direction: row;
                text-align:left;
                align-items:end;
                padding:3px;
                a, a:visited{
                    text-decoration:none;
                    color:black;
                    margin-right:10px;
                    display:block;
                }
            }
        }
    }
    .clippy{
        position:fixed;
        right:0px;
        bottom:10px;
    }
}
.hidden{
    display:none;
}
.rsi-logo{
    background-color: #2e3143;
    width: 37px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px;
    transform: translate(10px, 10px);
    &.small{
        width:20px;
        border: 0.5px solid black;
        padding: 1px;
        border-radius: 3px;
        transform: none;
    }
}
#user_profile .container{
    margin-top:30px;
    .avatar-image{
        height:100%;
    }
}
#rsi_activation, #user_profile{
    .container{
        display:flex;
        width:100%;

        .content{
            padding-left:20px;
            input:disabled{
                width:70px;
            }
            input, input:disabled{
                background-color:white !important;
            }
        }
    }
    .sidebar-image{
        width: 225px;
        height: 285px;
        overflow: hidden;
        border: 1px solid black;
        img{
            height:100%;
        }
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#bsod{
    width:100vw;
    height:100vh;
    background-color:blue;
    color:white;
    padding-top: 10px;
    .bsod-link{
        color:white;
        &:hover{
            background-color:black;
        }
    }
    p{
        font-family: dos;
        color:white;
    }
}

.section-header, .section-window-header{
    background-color:$system_blue;
    padding-left: 30px;
    color: white;
    font-size: 1.2rem;
    margin-top: -3px;
    height: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.section-window-header{
    padding-left:5px;
    margin:3px;
    height:24px;
}