@import 'mixins';
html{
    width:100%;
    height:100%;
}
#task_manager{
    width:300px;
    height:300px;
    display:none;
    background-color:$light_grey;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-left: 1px solid black;
    ul.task-list{
        display: block;
        width: 240px;
        background-color: white;
        height: 160px;
        margin: 40px auto;
        border-top: 1px solid black;
        border-left: 1px solid black;
        padding: 0px;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        list-style:none;
        padding-left:0px 5px;
    }
}

.desktop-icon{
    width:40px;
    height:40px;
    text-align: center;
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:40px;
    padding-right: 20px;
    border:1px dashed transparent;
    &:hover{
        border:1px dashed black;
    }
    img{
        width:100%;
    }
}

#desktop{
    background-color: $default_background;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height:100vh;
    width:100vw;
    margin:0px;
    position:relative;
    cursor: image-url('arrow.png');
    overflow:hidden;
    .live-desktop{
        height: calc(100% - 15px);
        padding:20px;
        display:flex;
        flex-direction:column;
        justify-content: start;
        align-content: baseline;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .bootup{
        width: 100vw;
        height: 100vh;
        background-color: black;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        h2{
            font-family:'Times New Roman', Times, serif;
            color: white;
            margin: 0px;
            font-size: 6rem;
            font-weight: 100;
            transform: translateY(-200px);
            animation: fadein 5s;
        
        }
        img{
            width:80%;
            animation: fadein 5s;
        }
    }
    .clippy{
        position:fixed;
        right:0px;
        bottom:10px;
    }    
}
.hidden{
    display:none;
}
.rsi-logo{
    background-color: #2e3143;
    width: 37px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px;
    transform: translate(10px, 10px);
    &.small{
        width:20px;
        border: 0.5px solid black;
        padding: 1px;
        border-radius: 3px;
        transform: none;
    }
}
#user_profile .container{
    margin-top:30px;
    .avatar-image{
        height:100%;
    }
}
#rsi_activation, #user_profile{
    .container{
        display:flex;
        width:100%;

        .content{
            padding-left:20px;
            padding-top:20px;
            input:disabled{
                width:70px;
            }
            input, input:disabled{
                background-color:white !important;
            }
        }
    }
    .sidebar-image{
        width: 225px;
        height: 355px;
        overflow: hidden;
        border: 1px solid black;
        img{
            height:100%;
        }
    }
    .notice{
        
        margin-top: 10px;
        font-size: 0.6rem;
        text-align: center;
        width: 100%;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#bsod{
    width:100vw;
    height:100vh;
    background-color:blue;
    color:white;
    padding-top: 10px;
    .bsod-link{
        color:white;
        &:hover{
            background-color:black;
        }
    }
    p{
        font-family: dos;
        color:white;
    }
}

.section-header, .section-window-header{
    background-color:$system_blue;
    padding-left: 30px;
    color: white;
    font-size: 1.2rem;
    margin-top: -3px;
    height: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.section-window-header{
    padding-left:5px;
    margin:3px;
    height:24px;
}





.memo{
    width: 500px;
    height:200px;
    background-color:$light_grey;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:9000;
    @include bevelled(5px);
    .memo-body{
        height:100%;
        display:flex;
        flex-direction:row;
        text-align:center;
            .memo-text{
                display:flex;
                align-items: center;
                width:100%;
                height:100%;
            }
            .memo-icon-container{
                width:50px;
                display:inline-block;
            }
        
        }
}