@import 'mixins';
html{
    cursor: asset-url('arrow.png'), auto;
}
#guildstones{
    margin:0px;
    padding:0px;
    overflow: hidden;
    background-color: #c0c0c0;
    height: calc(100% - 6px);
    box-sizing: border-box;
    font-family: 'windows';
    .message-window{
        right: 30%;
        top: 20%;
        left:inherit;
    }
    .button.previous,.button.next{
        display:none !important;
    }
    .unread-messages{
        pointer-events: none;
    }
    .window-container{
        margin-top:40px;
        height:100%;
        flex-direction: column;
        padding:0px;
        .form-section{
            padding: 5px 8px;
        }
    }
    .gotmail{
        position:relative;
 
        .unread-messages{
            position: absolute;
            z-index: 9001;
            color: white;
            bottom: -2px;
            right: 2px;
            font-size: 0.6rem;
            font-family: arial;
            font-weight: 900;
            background-color: red;
            border-radius: 20px;
            display: block;
            padding: 2px;
            width: 10px;
            text-align: center;
        }
    }
    .window-form{
        height:0px;
        display: none;
        transition: height 0.5s;
        &.active{
            display: block;
            transition: height 0.5s;
            height:24px;
            display:block;
        }
    }
    .name{
        font-size:large;
        font-weight: bold;
        padding:5px;
    }
    .positions{
        margin: 10px;
    }
    .guildstone-modal{
        position: absolute;
        width: 700px;
        height: 300px;
        background-color: #c0c0c0;
        border-top:1px solid white;
        border-left:1px solid white;
        border-right:1px solid black;
        border-bottom:1px solid black;
        overflow: auto;
        transform: translate(-50%, -30%);
        left: 50%;
        top: 50%;
        .position-container{
            height:87%;
        }
        .position-header{
            height: 46px;
            background-color: black;
            display: flex;
            color: white;
            align-items: end;
            font-size: 1.5rem;
            flex-direction: column;
            justify-content: center;
            margin: 0px 3px;
            padding-right:20px;
        }
        .position-body{
            background-color:#4fa8ae;
            margin: 2px 5px;
            padding: 30px;
            height: 100%;
            display:flex;
            justify-content: space-between;
            .position-applications{
                width: 250px;
                background-color: #cacaca;
                padding: 5px;
                .header-title{
                    display: flex;
                    justify-content: space-between;
                    border-bottom:1px solid black;
                }
                .application-table{
                    margin-top:10px;
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                a:hover{
                background-color: black;
                color: white;
                }
                    padding: 5px;
                }
            }
        }
    }
    .position-list{
        background-color: white;
        margin: 0px 3px;
        //padding: 3px 3px;
        border-top:1px solid black;
        border-left:1px solid black;
        border-right:1px solid white;
        border-right:1px solid white;
        color:black;
        overflow: hidden;
        a.position-item{
            font-size: 0.8rem;
            color:black;
            width: 130%;
            height: 16px;
            display: block;
            padding: 1px 3px;
            &.highlighted{
                color:white;
                background-color: black;
            }
        }
    }
    .window-icon-bar{
        height: 40px;
        display: flex;
        margin-top: 9px;
        padding-left: 8px;
    }
    .window-section-body-container{
    padding:4px 8px;
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid white;
    border-right:1px solid white;
    background-color: #808080;
    height:100%;
    .window-form{
        width:100%;
        background-color: #c0c0c0;
        margin-bottom:10px;
        
    }

    .section-window{
        height: 266px;
        width: 200px;
        overflow:hidden;
        margin: 9px 4px 0px 4px;
        padding: 0px 4px;
        border-top:1px solid white;
        border-left:1px solid white;
        border-right:1px solid black;
        border-bottom:1px solid black;
    }
    .section-window-header{
        overflow-wrap: anywhere;
        display: flex;
        overflow: hidden;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        white-space: nowrap;
        margin: 3px 0px;
        padding:0px;
    }
    .department-title{
        display: flex;
        font-size: 0.8rem;
        padding: 0px 3px;
        width: 100%;
        align-items: center;
        text-decoration: none;
        font-weight: 100;
        color: white;
    }
        .window-section-body{
            display:flex;
            padding:4px;
            min-height:84%;
            background-color: #c0c0c0;
            border-top:1px solid white;
            border-left:1px solid white;
            border-right:1px solid black;
            border-bottom:1px solid black;
        }
    }
    .shortcut-icon-container{
        overflow:hidden;
        cursor:pointer;
        &.click{
            border-top:1px solid black;
            border-left:1px solid black;
            border-right:1px solid white;
            border-bottom:1px solid white;
        }
        .position-create{
            background-position: top;
            object-fit: contain;
            transform: translateX(-32px) translateY(-479px);
            height: 753px;
            width: auto;
        }
        .department-create{
            background-position: top;
            object-fit: contain;
            transform: translateX(-209px) translateY(-361px);
            height: 753px;
            width: auto;
        }
        .nomination-create{
            background-position: top;
            object-fit: contain;
            transform: translateX(-626px) translateY(-569px);
            height: 753px;
            width: auto;
        }
        .rule-create{
            background-position: top;
            object-fit: contain;
            transform: translateX(-713px) translateY(-717px);
            height: 753px;
            width: auto;
        }
        .all-position-button{
            background-position: top;
            object-fit: contain;
            transform: translateX(-244px) translateY(-427px);
            height: 753px;
            width: auto;
        }
        .mail{
            background-position: top;
            object-fit: contain;
            transform: translateX(-482px) translateY(-575px);
            height: 753px;
            width: auto;
        }
        .all-applications{
            background-position: top;
            object-fit: contain;
            transform: translateX(-773px) translateY(-688px);
            height: 753px;
            width: auto;
        }
        .org-chart{
            background-position: top;
            object-fit: contain;
            transform: translateX(-570px) translateY(-426px);
            height: 753px;
            width: auto;
        }
        .all-rules{
            transform: translateX(-245px) translateY(-217px);
            background-position: top;
            object-fit: contain;
            height: 753px;
            width: auto;
        }
        .all-positions{
            transform: translateX(-305px) translateY(-157px);
            background-position: top;
            object-fit: contain;
            height: 753px;
            width: auto;
        }
        &:nth-child(3n+3){
            margin-right:7px;
        }
        a{
            
            width: 100%;
            height: 100%;
            display: block;
        }
        border-top:1px solid white;
        border-left:1px solid white;
        border-right:1px solid black;
        border-bottom:1px solid black;
        width: 32px;
        height: 32px;
    }
    .window-menu{
        display: flex;
        list-style:none;
        padding:0px 8px; 
        margin:0px;
            .disabled{
                color:grey;
                &:hover{
                    background-color:$system_blue;
                    cursor:pointer;
                }
        }
        li{
            user-select: none;
            margin-right: 10px;
            padding:0px; 
        }
    }
    .category-trigger{text-decoration:underline;&:hover{cursor:pointer}}
    .cta{
        @include roadside_button;
        background-color:green;
        width:80%;
        margin:0px auto;
        color:white;
        font-weight: 900;
        text-align:center;
        padding:5px;
        &.red{
            background-color:red;
        }
        &:disabled{
            color: rgb(75, 75, 75) !important;
            background-color:grey !important;
    
        }
    }


    .org_chart{
        width:92%;
        top:42%;
        height:500px;
       .modal-container{
           height:auto;
           background-color:#4fa8ae ;
       }
       .modal-body{
           height:100%;
       }
        .whitebackground{
            background-color:white;
            padding:10px 30px;
            display:block;
            max-width: 200px;
            margin:0px auto;
        }
        .chart-container{
            width:500px;
            height:100%;
            background: repeating-conic-gradient(#070707 0% 25%, transparent 0% 50%) 20%/6px 6px;
            text-align: center;
            margin:0px auto;
            padding: 30px 30px;
            overflow: hidden;
        }
        .chart-body{
            background-color:white;
            height:100%;
            border:2px solid black;
            margin: 30px auto;
            display:flex;
            justify-content: center;
            flex-direction: column;
            padding: 20px 20px;
        }
        .executive{
            display:flex;
            flex-direction:row;
            justify-content: space-between;
            flex-wrap:wrap;
            align-items: center;
        }
        .exec-department{
            border:1px solid black;
            padding:10px;
            display:flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &.circle{
                border-radius:100px;
                width:60px;
                height:60px;
            }
            &.rounded{
                border-radius:5px;
            }
        }
        .directors, .flightcrews{
            margin: 30px 0px;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .director-department,.flightcrew_department {
            border:1px solid black;
            display:flex;
            width:80px;
            height:30px;
            flex-direction: column;
            justify-content: center;
            font-size:0.8rem;
        }
        .flightcrew_department{
            font-size:0.7rem;
        }
        .governing{
            height:100px;
            display:flex;
            flex-direction: column;
            justify-content:space-between;
        }

    }

  .close-btn.windowed{
      right:6px;
  }

}