@import 'mixins';

#desktop #location_manager{
    right: 41%;
    width: 573px;
    height: 420px;
    input, select{
        border-bottom:$highlight_border;
        border-right:$highlight_border;
        border-top:$shadow_border;
        border-left:$shadow_border;
        border-radius: 0px;
    }
    .control-buttons{
        justify-content: right;
        padding: 9px 8px;
    }
    .location-container{
        padding: 45px 20px 0px 20px;
        display: flex;
            .location-image{
                height: 294px;
                margin-bottom:20px;
                overflow: hidden;
                img{
                    width:155px;
            }
        }
        .location-form{
            padding-left: 24px;
        }
    }
}