@import 'mixins';

#desktop {
    #edit_location{
        right:-19%;
    }
    #new_location{
        right:34%;
    }
    #new_location, #edit_location{
        top:50%;
        
        .close-btn{
            right: 5px;
            top: 5px;
        }
        .window-container{
            margin-top:3px;        
        }
    }
    .config_window{
        left: 50%;
        transform: translate(-50%, -50%);
        
        width: 673px;
        height: 420px;
        input, select{
            border-bottom:$highlight_border;
            border-right:$highlight_border;
            border-top:$shadow_border;
            border-left:$shadow_border;
            border-radius: 0px;
        }
        .control-buttons{
            justify-content: right;
            padding: 9px 8px;
        }
        #rsi_verification{
            display:block;
        }
    }
    .up-item{
        background-position: top;
        object-fit: contain;
        transform: translateX(-147px) translateY(-436px);
        width: 1624px;
        height: auto;
    }
}



.window-container{
    padding: 45px 20px 0px 20px;
    display: flex;
    
        .window-image{
            height: 294px;
            margin-bottom:20px;
            overflow: hidden;
            img{
                width:155px;
        }
    }
    .location-form{
        padding-left: 24px;
    }
}