$light_grey: #c0c0c0;
$light_grey_highlight: #f1f1f1;
$light_grey_shadow: #7d7f80;
$dark_grey: #595a56;
$button_shadow: #363636;
$default_background: #008080;

$highlight_border: 2px solid $light_grey_highlight;
$shadow_border: 2px solid $light_grey_shadow;


@font-face {
    font-family: 'dos';
    font-style: normal;
    font-weight: 400;
    src: font-url('dos.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'dos-win';
    src: font-url('dos-win.ttf') format('truetype');
  }
  @font-face {
    font-family: 'm42';
    font-style: normal;
    font-weight: 400;
    src: font-url('m42.ttf') format('truetype');
  }


  i{
    width:50px;
    height:50px;
    background-image: image-url('all_icons.png');
    margin: 0px 5px;
    &.page-object{
      width: 23px;
      display: inline-block;
      height: 26px;
      background-position-y: 61px;
      background-position-x: 176px;
      background-size: 4310%;
    }
  }
