$light_grey: #c0c0c0;
$light_grey_highlight: #f1f1f1;
$light_grey_shadow: #7d7f80;
$dark_grey: #595a56;
$button_shadow: #363636;
$default_background: #008080;

$highlight_border: 2px solid $light_grey_highlight;
$shadow_border: 2px solid $light_grey_shadow;
$orange: #d08a3e;
$altama_green: #6eb288;
$altama_blue: #05aac7;
$rfa_white: #beb5ae;
$system_blue: #060080;

// $mobile: 480px;
$mobile: 625px;

@font-face {
    font-family: 'dos';
    font-style: normal;
    font-weight: 400;
    src: font-url('dos.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'dos-win';
    src: font-url('dos-win.ttf') format('truetype');
  }
  @font-face {
    font-family: 'm42';
    font-style: normal;
    font-weight: 400;
    src: font-url('m42.ttf') format('truetype');
  }

  @font-face {
    font-family: 'suprrg';
    font-style: normal;
    font-weight: 400;
    src: font-url('suprrg.ttf') format('truetype');
  }

  @font-face {
    font-family: 'continuum-bold';
    font-style: normal;
    font-weight: 400;
    src: font-url('continuum-bold.ttf') format('truetype');
  }

  i{
    width:50px;
    height:50px;
    background-image: image-url('all_icons.png');
    margin: 0px 5px;
    &.page-object{
      width: 23px;
      display: inline-block;
      height: 26px;
      background-position-y: 61px;
      background-position-x: 176px;
      background-size: 4310%;
    }
  }
  i.special{
    background:none;
    display: inline-flex;
    align-items: center;
    &:after{
        font-family: 'dos';
        content: "\0002";
        font-size: 1.8rem;
    }
}
i.error-icon{
  height:20px;
  width:20px;
  background-position-x: -356px;
  background-position-y: -106px;
  background-size: 859px;
}


  @mixin roadside_button {
    cursor:pointer;
    font-family: acumin-pro,sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: all;
    font-weight: 900;
    
    padding: .8125rem 2.4375rem;
    border: 0;
    outline: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 200ms cubic-bezier(.39,.575,.565,1),color 200ms cubic-bezier(.39,.575,.565,1),box-shadow 200ms cubic-bezier(.39,.575,.565,1),border-color 200ms cubic-bezier(.39,.575,.565,1),transform 200ms cubic-bezier(.39,.575,.565,1),box-shadow 200ms cubic-bezier(.39,.575,.565,1),-webkit-transform 200ms cubic-bezier(.39,.575,.565,1);
    background-color: #0277d1;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
    box-shadow: 0 2px 7px rgba(0,0,0,.4);
    margin-top: 2.375rem;
    visibility: visible;
    opacity: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    //pointer-events:none;
    &:hover{
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
        box-shadow: 0 10px 40px 0 rgba(0,0,0,.2);
        color:darkgrey;
        svg{
            color:darkgrey;
            fill:darkgrey;
            transition: all 200ms;
        }
    }
  }

  @mixin cross($size: 20px, $color: currentColor, $thickness: 1px) {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    position: relative;
    width: $size;
    height: $size;
  
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: ($size - $thickness) / 2;
      left: 0;
      right: 0;
      height: $thickness;
      background: $color;
      border-radius: $thickness;
    }
  
    &:before {
      transform: rotate(45deg);
    }
  
    &:after {
      transform: rotate(-45deg);
    }
  
    span {
      display: block;
    }
  
  }

  @mixin stars($size: 50px, $color: black, $thickness: 20px) {
    .star-container:hover ~ .star-container,
            .star-container:hover{
            path{
                transition: all 0.3s ease-in-out;
        fill: $color !important;
        stroke:transparent !important; 
    }
        }

    form{
        display:flex;
        flex-wrap:wrap;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
    .selected svg path{
        fill:$color !important;
        stroke:transparent !important; 
        }
    svg{
        transition: all 0.3s ease-in-out;
        &:hover{
            path{
                fill:$color !important;
                 stroke:transparent !important; 
            }
                cursor:pointer;
            }
        margin:0px 5px;
        width: $size;
        path{
            stroke-width: $thickness !important;
            stroke:$color !important;
            fill:transparent !important;
            transition: all 0.3s ease-in-out;
        }
    }
    .star-container svg path.selected{
        fill:$color !important;
    }
}



.close-btn{
  cursor: pointer;
  padding: 0px;
  position: absolute;
  right: 6px;
  top: 6px;
  width: 17px;
  height: 15px;
  opacity: 1;
      background-color: $light_grey;
      border-top: $highlight_border;
      border-left: $highlight_border;
      border-right: $shadow_border;
      border-bottom: $shadow_border;
      background-color: $light_grey;
      &.windowed{
        width: 19px;
        height: 17px;
        right: -3px;
        &:before, &:after {
          top:0px;
          left:7px;
        }
      }
      &.full{
        width: 19px;
        height: 17px;
        right: -3px;
        &:before, &:after {
          top:0px;
          left:7px;
        }
      }
      &:hover {
        opacity: 1;
      }
      &:before, &:after {
        position: absolute;
        left: 8px;
        top:1px;
        content: ' ';
        height: 14px;
        width: 2px;
        background-color: black;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
      
}



@mixin close_btn{
  .close-btn{
  cursor: pointer;
  position: absolute;
  top: 6px;
  opacity: 1;
  color: black !important;
  text-align: center !important;
  padding: 0px !important;
  font-size: 13px;
  margin-right: 10px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: #c0c0c0;
  border-top: 2px solid #f1f1f1;
  border-left: 2px solid #f1f1f1;
  border-right: 2px solid #7d7f80;
  border-bottom: 2px solid #7d7f80;
  width: 19px;
  height: 17px;
  //right: -3px;
  right: 7px;
  appearance: auto;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
  }
}

@mixin bevelled($thickness: 20px, $light_grey_highlight: $light_grey_highlight){
  border-top: $thickness solid $light_grey_highlight;
  border-left:$thickness solid $light_grey_highlight;
  border-bottom:$thickness solid $light_grey_shadow;
  border-right:$thickness solid $light_grey_shadow;
}
@mixin embossed($thickness: 20px){
  border-bottom: $thickness solid $light_grey_highlight;
  border-right:$thickness solid $light_grey_highlight;
  border-top:$thickness solid $light_grey_shadow;
  border-left:$thickness solid $light_grey_shadow;
}