@import 'mixins';

$rfa_border: #272321;

#rfa_open{
    background-color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    .topbar{
        height: 56px;
        margin-top: 38px;
        font-size:0.8rem;
        color: $rfa_white;
        width:100%;
        border-bottom: 1px solid $rfa_border;
        a, a:visited{color: $rfa_white; text-decoration:none;}
        i.special{
            background:none;
            display: flex;
            align-items: center;
            justify-content: center;
            &:after{
                font-family: 'dos';
                content: "\0002";
                font-size: 1.8rem;
            }
        }
        .tab{
            width: 220px;
            border-left: 1px solid $rfa_border;
            border-right: 1px solid $rfa_border;
            height: 100%;
            display:flex;
            
            align-items: center;
        }
        .column{
            &:first-child{width:20%;}
            display: flex;
            margin-right:10px;
            flex-direction: column;
            align-items: left;
        }
    }
    .information-row{
        height:44px;
        display:flex;
        align-items: center;
        margin-left:20px;
        .profile-button{
            &:first-child{
                border-top-left-radius: 10px;
            }
            &:last-child{
                border-top-right-radius: 10px;
            }
            height:30px;
            background-color:black;
            padding:6px;
            border:1px solid $rfa_border;
            color: $rfa_white;
        }
    }
    .rfa-open-container{
        display:flex;
        height:100vh;
        color: #c3bab2;
        border-top: 1px solid $rfa_border;
        
        input, select, button{
            border: 1px solid $rfa_border;
            background-color:black;
            color: #c3bab2;
            margin:20px 0px;
            font-size: 1rem;
            border-radius: 5px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            width:100%;
            padding:5px;
        }
        button{
            cursor:pointer;
        }
        label{
            width:100%;
            display:block;
            font-size:0.8rem;
        }

        .rfa-module{
            border: 1px solid #141111;
            padding:10px;
        }
        .column{
            display:inline-block;
            height:100vh;
        }
        .rfa-params{
            background-color: #070606;
            border-right:1px solid $rfa_border;
            width:21%;
            padding:27px;
        }
        .rfa-info{
            width:29%;
            padding:15px;
            position:relative;
        }
        .rfa-comms{
            width:36%;
            padding: 10px 22px 10px 70px;
        }
    }
}

#sidebar{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:22vw;
    border-right: 2px solid #131110;
    color: $rfa_white;
    ul,li{
        list-style-type:none;
        margin:0px;
        padding:0px;
    }
    ul{
        margin-top: 24px;
        font-size: 0.8rem;
    }
    li{
        margin: 8px 0px;
        padding: 4.5px 0px;
        display: flex;
        justify-content: space-between;
        .count{
            padding-right:26px;
        }
        &:hover{
            font-weight:900;
            background-color: #2f1d0c;
        }
    }
    h2{
        font-size: 1rem;
        color: $rfa_white;
        margin-top: 54px;
        font-weight:900;
        padding-bottom:6px;
        border-bottom: 1px solid #131110;
    }
}
.rfa-list{
    width:77%;
    color: $rfa_white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    a, a:visited{
        color: $rfa_white;
    }
    #rfa_index{
        display: flex;
        flex-direction: column;
        height:100%;
        .index-header{
            display: flex;
            width: 100%;
            font-weight:900;
            justify-content: space-between;
            border-bottom: 1px solid #131110;
        }
        .rfa-row{
            display:flex;
            justify-content: space-between;
            color: $rfa_white;
            text-decoration: none;
            padding:3px 0px;
            font-weight:100;
            &:hover{
                font-weight:900;
                background-color: #2f1d0c;
                color: $rfa_white;
            }
        }
    }
}
#rfas{
    margin:0px;
    padding:0px;
    height:100vh;
    width:100vw;
    background-color:black;
    .rfa-main{
        display:flex;
        height:100%;
        padding:28px;
    }
    .rfa-summary{
        height: 100px;
        width: 100%;
        padding: 10px;
        font-size: 2rem;
        display: flex;
        padding-left: 20%;
        align-items: center;
    }
    .rfa-action-buttons{
        display:flex;
        width:100%;
        flex-direction:row;
        justify-content: space-between;
        button{
        width:30%;
        }
    }
}

#rfa_open  #rfa_status_id{
    padding: 9px;
    display: flex;
    width: 180px;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    background-color:white;
    color:black;
}    
#status_field{
    position: absolute;
    bottom: 0px;
    right: 4.6vw;
}

