@import 'mixins';

input:disabled{
   background-color: #161616 !important;
}
.rfa-column{
    padding-left:30px;
    small{
        padding:1px 3px;
        border-radius:3px;
    }
}
.top-status-Unassigned{
    background-color: #64c6ff;
    color:black;
}
.top-status-In.Progress{
    background-color: #b34a19;
}
.top-status-On.Hold{
    background-color: blue;
}
.top-status-Pending{
    background-color:purple;
}
.top-status-Solved{
    background-color:green;
}

$rfa_border: #272321;
#rfa_open{
    background-color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height:100vh;
    overflow: hidden;
    
    a, a:visited{
        color:#d08a3e;
        text-decoration:none;
        border-bottom: 1px solid transparent;
        &:hover{
            border-bottom: 1px solid #d08a3e;
        }
    }
    .avatar-image{
        display: block;
        width: 38px;
        height: 38px;
        position: absolute;
        border: 1px solid white;
        left: -55px;
        top: 0px;
        overflow: hidden;
        border-radius: 20px;
        background-color: $rfa_border;
        img{
            width:100%;
        }
    }
    .topbar{
        height: 44px;
        margin-top: 31px;
        font-size: 0.8rem;
        color: $rfa_white;
        width:100%;
        border-bottom: 1px solid $rfa_border;
        a, a:visited{color: $rfa_white; text-decoration:none;}
        .avatar-image{
            left:inherit;
            right:0px;
            top:30px;
        }
        .tab{
            width: 220px;
            border-left: 1px solid $rfa_border;
            border-right: 1px solid $rfa_border;
            height: 100%;
            display:flex;
            
            align-items: center;
        }
        .column{
            &:first-child{width:10%;}
            display: flex;
            margin-right:10px;
            flex-direction: column;
            align-items: left;
            overflow: hidden;
        }
    }
    .information-row{
        height:44px;
        display:flex;
        align-items: center;
        margin-left:20px;
        .profile-button{
            small{
                padding: 3px 4px;
                border-radius: 5px;
                margin-right: 10px;
            }

            &:first-child{
                border-top-left-radius: 10px;
            }
            &:nth-last-child(2){
                border-top-right-radius: 10px;
            }
            height:30px;
            background-color:black;
            padding:6px;
            border:1px solid $rfa_border;
            color: $rfa_white;
        }
    }
    .rfa-open-container{
        display:flex;
        height:100vh;
        color: #c3bab2;
        border-top: 1px solid $rfa_border;
        .special:after{
            font-size:3.0rem;
        }
        input, select, button{
            border: 1px solid $rfa_border;
            background-color:black;
            color: #c3bab2;
            margin:10px 0px;
            font-size: 1rem;
            border-radius: 5px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            padding:5px;
            &:focus,&:focus-visible{
                outline-color:#d08a3e;
                outline-style: solid;
            }
        }
        input{
            width:95%;
        }
        button{
            cursor:pointer;
            width:100%;
        }
        label{
            width:100%;
            display:block;
            font-size:0.7rem;
            font-weight:900;
            letter-spacing:0.4px;
        }

        .rfa-module{
            border: 1px solid #141111;
            padding:10px;
            text-align:center;
            height:100%;
            .reviews{
                .review-stars{
                    display:flex;
                    flex-wrap:wrap;
                    width: 90%;
                    text-align: center;
                    justify-content: center;
                    margin: 20px 0px;
                    @include stars(40px, #f0d535e3, 15px); 
                }
            }
            h2{
                text-align: left;
                margin: 2px;
                font-size: 1rem;
            }
            hr{
                border: none;
                border-top: 1px solid $rfa_border;
                margin: 5px 0px 22px 0px;
            }
            li{
                text-align: left;
            }
            .field{
                display:flex;
                flex-direction:row;
                align-items: center;
                padding: 0px 10px;
                
                    .verify{
                        cursor:pointer;
                    }
                
                select{
                    margin-left:5px;
                }
            }
        }
        .column{
            display:inline-block;
            height:72vh;
        }
        .rfa-params{
            background-color: #070606;
            border-right:1px solid $rfa_border;
            width: 20.3%;
            height: 65vh;
            padding: 57px 28.7px 20px 18.7px;
            overflow:scroll;
            .take{
                font-size:0.7rem;
                float:right;
                font-weight:100;
                border-bottom: 1px solid transparent;
                &:hover{
                    border-bottom: 1px solid #d08a3e;
                }
            }
            select{
                margin: 9px 0px;
                padding-top: 7px;
                padding-left: 32px;
                font-size: 0.8rem;
                width:100%;
            }
            hr{
                border: none;
                border-top: 1px solid $rfa_border;
                margin: 22px 0px;
            }
        }
        .rfa-info{
            width:29%;
            padding:0px 15px;
            position:relative;
        }
        .rfa-comms{
            width:36%;
            padding: 10px 22px 10px 70px;
            hr{
                border: none;
                border-top: 1px solid $rfa_border;
                transform: translateX(-13%);
                width: 123.9%;
            }
            .comms-header{
                display:inline-block;
                h1{
                    margin:0px;
                }
            }

            .comm-entry-header{
                margin-top:15px;
                position:relative;
                margin-bottom:5px;
                strong{
                    font-size:0.9rem;
                    font-weight:600;
                }
                small{
                    font-size:0.7rem;
                    color:#978c82;
                }
            }
            .comm-entry-body{
                font-size:0.8rem;
                background-color: #010925;
                border:1px solid #102359;
                border-radius:5px;
                padding:18px;
                strong{
                    margin-bottom:12px;
                    display:block;
                }
                .point{
                    margin-left:13px;
                    margin-bottom:17px;
                }
            }
        }
        .bottom-frame{
            width: 76%;
            background-color: black;
            border-top: 1px solid $rfa_border;
            border-left: 1px solid $rfa_border;
            position: fixed;
            bottom: 0px;
            right: 0px;
            height: 60px;
            margin-bottom: 37px;
            text-align:right;
            svg{
                pointer-events:none;
            }
            .status-menu-wrapper{
                display:none;
                position:absolute;
                right:0px;
                left:inherit;
                width:200px;
                margin-left:auto;
                &.open{
                    display:block;
                }

            }

.ikdLgh{

    -webkit-text-size-adjust: 100%;
    --ck-z-default: 1;
    --ck-z-modal: calc(var(--ck-z-default) + 999);
    --ck-color-base-foreground: #fafafa;
    --ck-color-base-background: #fff;
    --ck-color-base-border: #c4c4c4;
    --ck-color-base-action: #61b045;
    --ck-color-base-focus: #6cb5f9;
    --ck-color-base-text: #333;
    --ck-color-base-active: #198cf0;
    --ck-color-base-active-focus: #0e7fe1;
    --ck-color-base-error: #db3700;
    --ck-color-focus-border-coordinates: 208,79%,51%;
    --ck-color-focus-border: hsl(var(--ck-color-focus-border-coordinates));
    --ck-color-focus-outer-shadow: #bcdefb;
    --ck-color-focus-disabled-shadow: rgba(119,186,248,0.3);
    --ck-color-focus-error-shadow: rgba(255,64,31,0.3);
    --ck-color-text: var(--ck-color-base-text);
    --ck-color-shadow-drop: rgba(0,0,0,0.15);
    --ck-color-shadow-drop-active: rgba(0,0,0,0.2);
    --ck-color-shadow-inner: rgba(0,0,0,0.1);
    --ck-color-button-default-background: transparent;
    --ck-color-button-default-hover-background: #e6e6e6;
    --ck-color-button-default-active-background: #d9d9d9;
    --ck-color-button-default-active-shadow: #bfbfbf;
    --ck-color-button-default-disabled-background: transparent;
    --ck-color-button-on-background: #dedede;
    --ck-color-button-on-hover-background: #c4c4c4;
    --ck-color-button-on-active-background: #bababa;
    --ck-color-button-on-active-shadow: #a1a1a1;
    --ck-color-button-on-disabled-background: #dedede;
    --ck-color-button-action-background: var(--ck-color-base-action);
    --ck-color-button-action-hover-background: #579e3d;
    --ck-color-button-action-active-background: #53973b;
    --ck-color-button-action-active-shadow: #498433;
    --ck-color-button-action-disabled-background: #7ec365;
    --ck-color-button-action-text: var(--ck-color-base-background);
    --ck-color-button-save: #008a00;
    --ck-color-button-cancel: #db3700;
    --ck-color-switch-button-off-background: #b0b0b0;
    --ck-color-switch-button-off-hover-background: #a3a3a3;
    --ck-color-switch-button-on-background: var(--ck-color-button-action-background);
    --ck-color-switch-button-on-hover-background: #579e3d;
    --ck-color-switch-button-inner-background: var(--ck-color-base-background);
    --ck-color-switch-button-inner-shadow: rgba(0,0,0,0.1);
    --ck-color-dropdown-panel-background: var(--ck-color-base-background);
    --ck-color-dropdown-panel-border: var(--ck-color-base-border);
    --ck-color-input-background: var(--ck-color-base-background);
    --ck-color-input-border: #c7c7c7;
    --ck-color-input-error-border: var(--ck-color-base-error);
    --ck-color-input-text: var(--ck-color-base-text);
    --ck-color-input-disabled-background: #f2f2f2;
    --ck-color-input-disabled-border: #c7c7c7;
    --ck-color-input-disabled-text: #757575;
    --ck-color-list-background: var(--ck-color-base-background);
    --ck-color-list-button-hover-background: var(--ck-color-button-default-hover-background);
    --ck-color-list-button-on-background: var(--ck-color-base-active);
    --ck-color-list-button-on-background-focus: var(--ck-color-base-active-focus);
    --ck-color-list-button-on-text: var(--ck-color-base-background);
    --ck-color-panel-background: var(--ck-color-base-background);
    --ck-color-panel-border: var(--ck-color-base-border);
    --ck-color-toolbar-background: var(--ck-color-base-foreground);
    --ck-color-toolbar-border: var(--ck-color-base-border);
    --ck-color-tooltip-background: var(--ck-color-base-text);
    --ck-color-tooltip-text: var(--ck-color-base-background);
    --ck-color-engine-placeholder-text: #707070;
    --ck-color-upload-bar-background: #6cb5f9;
    --ck-color-link-default: #0000f0;
    --ck-color-link-selected-background: rgba(31,177,255,0.1);
    --ck-color-link-fake-selection: rgba(31,177,255,0.3);
    --ck-disabled-opacity: .5;
    --ck-focus-outer-shadow-geometry: 0 0 0 3px;
    --ck-focus-outer-shadow: var(--ck-focus-outer-shadow-geometry) var(--ck-color-focus-outer-shadow);
    --ck-focus-disabled-outer-shadow: var(--ck-focus-outer-shadow-geometry) var(--ck-color-focus-disabled-shadow);
    --ck-focus-error-outer-shadow: var(--ck-focus-outer-shadow-geometry) var(--ck-color-focus-error-shadow);
    --ck-focus-ring: 1px solid var(--ck-color-focus-border);
    --ck-font-size-base: 13px;
    --ck-line-height-base: 1.84615;
    --ck-font-face: Helvetica,Arial,Tahoma,Verdana,Sans-Serif;
    --ck-font-size-tiny: 0.7em;
    --ck-font-size-small: 0.75em;
    --ck-font-size-normal: 1em;
    --ck-font-size-big: 1.4em;
    --ck-font-size-large: 1.8em;
    --ck-ui-component-min-height: 2.3em;
    --ck-border-radius: 2px;
    --ck-inner-shadow: 2px 2px 3px var(--ck-color-shadow-inner) inset;
    --ck-drop-shadow: 0 1px 2px 1px var(--ck-color-shadow-drop);
    --ck-drop-shadow-active: 0 3px 6px 1px var(--ck-color-shadow-drop-active);
    --ck-spacing-unit: 0.6em;
    --ck-spacing-large: calc(var(--ck-spacing-unit)*1.5);
    --ck-spacing-standard: var(--ck-spacing-unit);
    --ck-spacing-medium: calc(var(--ck-spacing-unit)*0.8);
    --ck-spacing-small: calc(var(--ck-spacing-unit)*0.5);
    --ck-spacing-tiny: calc(var(--ck-spacing-unit)*0.3);
    --ck-spacing-extra-tiny: calc(var(--ck-spacing-unit)*0.16);
    --ck-icon-size: calc(var(--ck-line-height-base)*var(--ck-font-size-normal));
    --ck-tooltip-arrow-size: 5px;
    --ck-switch-button-toggle-width: 2.6153846154em;
    --ck-switch-button-toggle-inner-size: 1.0769230769em;
    --ck-switch-button-toggle-spacing: 1px;
    --ck-switch-button-translation: calc(var(--ck-switch-button-toggle-width) - var(--ck-switch-button-toggle-inner-size) - 2*var(--ck-switch-button-toggle-spacing));
    --ck-color-grid-tile-size: 24px;
    --ck-color-color-grid-check-icon: #000;
    --ck-color-split-button-hover-background: #ebebeb;
    --ck-color-split-button-hover-border: #b3b3b3;
    --ck-dropdown-max-width: 75vw;
    --ck-dropdown-arrow-size: calc(0.5*var(--ck-icon-size));
    --ck-toolbar-dropdown-max-width: 60vw;
    --ck-color-editable-blur-selection: #d9d9d9;
    --ck-form-header-height: 38px;
    --ck-input-text-width: 18em;
    --ck-labeled-field-view-transition: .1s cubic-bezier(0,0,0.24,0.95);
    --ck-labeled-field-empty-unfocused-max-width: 100% - 2 * var(--ck-spacing-medium);
    --ck-color-labeled-field-label-background: var(--ck-color-base-background);
    --ck-balloon-panel-arrow-z-index: calc(var(--ck-z-default) - 3);
    --ck-balloon-arrow-offset: 2px;
    --ck-balloon-arrow-height: 10px;
    --ck-balloon-arrow-half-width: 8px;
    --ck-balloon-arrow-drop-shadow: 0 2px 2px var(--ck-color-shadow-drop);
    --ck-balloon-fake-panel-offset-horizontal: 6px;
    --ck-balloon-fake-panel-offset-vertical: 6px;
    --ck-color-block-toolbar-button: var(--ck-color-text);
    --ck-block-toolbar-button-size: var(--ck-font-size-normal);
    --ck-widget-type-around-button-size: 20px;
    --ck-color-widget-type-around-button-active: var(--ck-color-focus-border);
    --ck-color-widget-type-around-button-hover: var(--ck-color-widget-hover-border);
    --ck-color-widget-type-around-button-blurred-editable: var(--ck-color-widget-blurred-border);
    --ck-color-widget-type-around-button-radar-start-alpha: 0;
    --ck-color-widget-type-around-button-radar-end-alpha: .3;
    --ck-color-widget-type-around-button-icon: var(--ck-color-base-background);
    --ck-color-resizer: var(--ck-color-focus-border);
    --ck-color-resizer-tooltip-background: #262626;
    --ck-color-resizer-tooltip-text: #f2f2f2;
    --ck-resizer-border-radius: var(--ck-border-radius);
    --ck-resizer-tooltip-offset: 10px;
    --ck-resizer-tooltip-height: calc(var(--ck-spacing-small)*2 + 10px);
    --ck-widget-outline-thickness: 3px;
    --ck-widget-handler-icon-size: 16px;
    --ck-widget-handler-animation-duration: 200ms;
    --ck-widget-handler-animation-curve: ease;
    --ck-color-widget-blurred-border: #dedede;
    --ck-color-widget-hover-border: #ffc83d;
    --ck-color-widget-editable-focus-background: var(--ck-color-base-background);
    --ck-color-widget-drag-handler-icon-color: var(--ck-color-base-background);
    --ck-clipboard-drop-target-dot-width: 12px;
    --ck-clipboard-drop-target-dot-height: 8px;
    --ck-clipboard-drop-target-color: var(--ck-color-focus-border);
    --ck-resizer-size: 10px;
    --ck-resizer-offset: calc(var(--ck-resizer-size)/-2 - 2px);
    --ck-resizer-border-width: 1px;
    --ck-color-table-focused-cell-background: rgba(158,207,250,0.3);
    -webkit-box-direction: normal;
    vertical-align: middle;
    -webkit-appearance: button;
    width: auto;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: border-color 0.25s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s, background-color 0.25s ease-in-out 0s, color 0.25s ease-in-out 0s, z-index 0.25s ease-in-out 0s;
    margin: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: inherit;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    box-sizing: border-box;
    user-select: none;
    padding: 0px 1.07143em;
    height: 40px;
    line-height: 38px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(47, 57, 65) !important;
    position: relative;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    margin-left: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-left-width: 0px;

}

.hPVFAz{

    -webkit-text-size-adjust: 100%;
    --ck-z-default: 1;
    --ck-z-modal: calc(var(--ck-z-default) + 999);
    --ck-color-base-foreground: #fafafa;
    --ck-color-base-background: #fff;
    --ck-color-base-border: #c4c4c4;
    --ck-color-base-action: #61b045;
    --ck-color-base-focus: #6cb5f9;
    --ck-color-base-text: #333;
    --ck-color-base-active: #198cf0;
    --ck-color-base-active-focus: #0e7fe1;
    --ck-color-base-error: #db3700;
    --ck-color-focus-border-coordinates: 208,79%,51%;
    --ck-color-focus-border: hsl(var(--ck-color-focus-border-coordinates));
    --ck-color-focus-outer-shadow: #bcdefb;
    --ck-color-focus-disabled-shadow: rgba(119,186,248,0.3);
    --ck-color-focus-error-shadow: rgba(255,64,31,0.3);
    --ck-color-text: var(--ck-color-base-text);
    --ck-color-shadow-drop: rgba(0,0,0,0.15);
    --ck-color-shadow-drop-active: rgba(0,0,0,0.2);
    --ck-color-shadow-inner: rgba(0,0,0,0.1);
    --ck-color-button-default-background: transparent;
    --ck-color-button-default-hover-background: #e6e6e6;
    --ck-color-button-default-active-background: #d9d9d9;
    --ck-color-button-default-active-shadow: #bfbfbf;
    --ck-color-button-default-disabled-background: transparent;
    --ck-color-button-on-background: #dedede;
    --ck-color-button-on-hover-background: #c4c4c4;
    --ck-color-button-on-active-background: #bababa;
    --ck-color-button-on-active-shadow: #a1a1a1;
    --ck-color-button-on-disabled-background: #dedede;
    --ck-color-button-action-background: var(--ck-color-base-action);
    --ck-color-button-action-hover-background: #579e3d;
    --ck-color-button-action-active-background: #53973b;
    --ck-color-button-action-active-shadow: #498433;
    --ck-color-button-action-disabled-background: #7ec365;
    --ck-color-button-action-text: var(--ck-color-base-background);
    --ck-color-button-save: #008a00;
    --ck-color-button-cancel: #db3700;
    --ck-color-switch-button-off-background: #b0b0b0;
    --ck-color-switch-button-off-hover-background: #a3a3a3;
    --ck-color-switch-button-on-background: var(--ck-color-button-action-background);
    --ck-color-switch-button-on-hover-background: #579e3d;
    --ck-color-switch-button-inner-background: var(--ck-color-base-background);
    --ck-color-switch-button-inner-shadow: rgba(0,0,0,0.1);
    --ck-color-dropdown-panel-background: var(--ck-color-base-background);
    --ck-color-dropdown-panel-border: var(--ck-color-base-border);
    --ck-color-input-background: var(--ck-color-base-background);
    --ck-color-input-border: #c7c7c7;
    --ck-color-input-error-border: var(--ck-color-base-error);
    --ck-color-input-text: var(--ck-color-base-text);
    --ck-color-input-disabled-background: #f2f2f2;
    --ck-color-input-disabled-border: #c7c7c7;
    --ck-color-input-disabled-text: #757575;
    --ck-color-list-background: var(--ck-color-base-background);
    --ck-color-list-button-hover-background: var(--ck-color-button-default-hover-background);
    --ck-color-list-button-on-background: var(--ck-color-base-active);
    --ck-color-list-button-on-background-focus: var(--ck-color-base-active-focus);
    --ck-color-list-button-on-text: var(--ck-color-base-background);
    --ck-color-panel-background: var(--ck-color-base-background);
    --ck-color-panel-border: var(--ck-color-base-border);
    --ck-color-toolbar-background: var(--ck-color-base-foreground);
    --ck-color-toolbar-border: var(--ck-color-base-border);
    --ck-color-tooltip-background: var(--ck-color-base-text);
    --ck-color-tooltip-text: var(--ck-color-base-background);
    --ck-color-engine-placeholder-text: #707070;
    --ck-color-upload-bar-background: #6cb5f9;
    --ck-color-link-default: #0000f0;
    --ck-color-link-selected-background: rgba(31,177,255,0.1);
    --ck-color-link-fake-selection: rgba(31,177,255,0.3);
    --ck-disabled-opacity: .5;
    --ck-focus-outer-shadow-geometry: 0 0 0 3px;
    --ck-focus-outer-shadow: var(--ck-focus-outer-shadow-geometry) var(--ck-color-focus-outer-shadow);
    --ck-focus-disabled-outer-shadow: var(--ck-focus-outer-shadow-geometry) var(--ck-color-focus-disabled-shadow);
    --ck-focus-error-outer-shadow: var(--ck-focus-outer-shadow-geometry) var(--ck-color-focus-error-shadow);
    --ck-focus-ring: 1px solid var(--ck-color-focus-border);
    --ck-font-size-base: 13px;
    --ck-line-height-base: 1.84615;
    --ck-font-face: Helvetica,Arial,Tahoma,Verdana,Sans-Serif;
    --ck-font-size-tiny: 0.7em;
    --ck-font-size-small: 0.75em;
    --ck-font-size-normal: 1em;
    --ck-font-size-big: 1.4em;
    --ck-font-size-large: 1.8em;
    --ck-ui-component-min-height: 2.3em;
    --ck-border-radius: 2px;
    --ck-inner-shadow: 2px 2px 3px var(--ck-color-shadow-inner) inset;
    --ck-drop-shadow: 0 1px 2px 1px var(--ck-color-shadow-drop);
    --ck-drop-shadow-active: 0 3px 6px 1px var(--ck-color-shadow-drop-active);
    --ck-spacing-unit: 0.6em;
    --ck-spacing-large: calc(var(--ck-spacing-unit)*1.5);
    --ck-spacing-standard: var(--ck-spacing-unit);
    --ck-spacing-medium: calc(var(--ck-spacing-unit)*0.8);
    --ck-spacing-small: calc(var(--ck-spacing-unit)*0.5);
    --ck-spacing-tiny: calc(var(--ck-spacing-unit)*0.3);
    --ck-spacing-extra-tiny: calc(var(--ck-spacing-unit)*0.16);
    --ck-icon-size: calc(var(--ck-line-height-base)*var(--ck-font-size-normal));
    --ck-tooltip-arrow-size: 5px;
    --ck-switch-button-toggle-width: 2.6153846154em;
    --ck-switch-button-toggle-inner-size: 1.0769230769em;
    --ck-switch-button-toggle-spacing: 1px;
    --ck-switch-button-translation: calc(var(--ck-switch-button-toggle-width) - var(--ck-switch-button-toggle-inner-size) - 2*var(--ck-switch-button-toggle-spacing));
    --ck-color-grid-tile-size: 24px;
    --ck-color-color-grid-check-icon: #000;
    --ck-color-split-button-hover-background: #ebebeb;
    --ck-color-split-button-hover-border: #b3b3b3;
    --ck-dropdown-max-width: 75vw;
    --ck-dropdown-arrow-size: calc(0.5*var(--ck-icon-size));
    --ck-toolbar-dropdown-max-width: 60vw;
    --ck-color-editable-blur-selection: #d9d9d9;
    --ck-form-header-height: 38px;
    --ck-input-text-width: 18em;
    --ck-labeled-field-view-transition: .1s cubic-bezier(0,0,0.24,0.95);
    --ck-labeled-field-empty-unfocused-max-width: 100% - 2 * var(--ck-spacing-medium);
    --ck-color-labeled-field-label-background: var(--ck-color-base-background);
    --ck-balloon-panel-arrow-z-index: calc(var(--ck-z-default) - 3);
    --ck-balloon-arrow-offset: 2px;
    --ck-balloon-arrow-height: 10px;
    --ck-balloon-arrow-half-width: 8px;
    --ck-balloon-arrow-drop-shadow: 0 2px 2px var(--ck-color-shadow-drop);
    --ck-balloon-fake-panel-offset-horizontal: 6px;
    --ck-balloon-fake-panel-offset-vertical: 6px;
    --ck-color-block-toolbar-button: var(--ck-color-text);
    --ck-block-toolbar-button-size: var(--ck-font-size-normal);
    --ck-widget-type-around-button-size: 20px;
    --ck-color-widget-type-around-button-active: var(--ck-color-focus-border);
    --ck-color-widget-type-around-button-hover: var(--ck-color-widget-hover-border);
    --ck-color-widget-type-around-button-blurred-editable: var(--ck-color-widget-blurred-border);
    --ck-color-widget-type-around-button-radar-start-alpha: 0;
    --ck-color-widget-type-around-button-radar-end-alpha: .3;
    --ck-color-widget-type-around-button-icon: var(--ck-color-base-background);
    --ck-color-resizer: var(--ck-color-focus-border);
    --ck-color-resizer-tooltip-background: #262626;
    --ck-color-resizer-tooltip-text: #f2f2f2;
    --ck-resizer-border-radius: var(--ck-border-radius);
    --ck-resizer-tooltip-offset: 10px;
    --ck-resizer-tooltip-height: calc(var(--ck-spacing-small)*2 + 10px);
    --ck-widget-outline-thickness: 3px;
    --ck-widget-handler-icon-size: 16px;
    --ck-widget-handler-animation-duration: 200ms;
    --ck-widget-handler-animation-curve: ease;
    --ck-color-widget-blurred-border: #dedede;
    --ck-color-widget-hover-border: #ffc83d;
    --ck-color-widget-editable-focus-background: var(--ck-color-base-background);
    --ck-color-widget-drag-handler-icon-color: var(--ck-color-base-background);
    --ck-clipboard-drop-target-dot-width: 12px;
    --ck-clipboard-drop-target-dot-height: 8px;
    --ck-clipboard-drop-target-color: var(--ck-color-focus-border);
    --ck-resizer-size: 10px;
    --ck-resizer-offset: calc(var(--ck-resizer-size)/-2 - 2px);
    --ck-resizer-border-width: 1px;
    --ck-color-table-focused-cell-background: rgba(158,207,250,0.3);
    -webkit-box-direction: normal;
    vertical-align: middle;
    -webkit-appearance: button;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: border-color 0.25s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s, background-color 0.25s ease-in-out 0s, color 0.25s ease-in-out 0s, z-index 0.25s ease-in-out 0s;
    margin: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: inherit;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    box-sizing: border-box;
    user-select: none;
    height: 40px;
    line-height: 38px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 0px;
    width: 40px;
    min-width: 40px;
    background-color: rgb(47, 57, 65) !important;
    position: relative;
    margin-left: -1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-right-width: 0px; 

}

.bvNpkX{

    li{
        height:20px;
        cursor:pointer;
        line-height:normal;
        &:hover{
            background-color: rgb(46, 46, 46);
        }
    }

    -webkit-text-size-adjust: 100%;
    --ck-z-default: 1;
    --ck-z-modal: calc(var(--ck-z-default) + 999);
    --ck-color-base-foreground: #fafafa;
    --ck-color-base-background: #fff;
    --ck-color-base-border: #c4c4c4;
    --ck-color-base-action: #61b045;
    --ck-color-base-focus: #6cb5f9;
    --ck-color-base-text: #333;
    --ck-color-base-active: #198cf0;
    --ck-color-base-active-focus: #0e7fe1;
    --ck-color-base-error: #db3700;
    --ck-color-focus-border-coordinates: 208,79%,51%;
    --ck-color-focus-border: hsl(var(--ck-color-focus-border-coordinates));
    --ck-color-focus-outer-shadow: #bcdefb;
    --ck-color-focus-disabled-shadow: rgba(119,186,248,0.3);
    --ck-color-focus-error-shadow: rgba(255,64,31,0.3);
    --ck-color-text: var(--ck-color-base-text);
    --ck-color-shadow-drop: rgba(0,0,0,0.15);
    --ck-color-shadow-drop-active: rgba(0,0,0,0.2);
    --ck-color-shadow-inner: rgba(0,0,0,0.1);
    --ck-color-button-default-background: transparent;
    --ck-color-button-default-hover-background: #e6e6e6;
    --ck-color-button-default-active-background: #d9d9d9;
    --ck-color-button-default-active-shadow: #bfbfbf;
    --ck-color-button-default-disabled-background: transparent;
    --ck-color-button-on-background: #dedede;
    --ck-color-button-on-hover-background: #c4c4c4;
    --ck-color-button-on-active-background: #bababa;
    --ck-color-button-on-active-shadow: #a1a1a1;
    --ck-color-button-on-disabled-background: #dedede;
    --ck-color-button-action-background: var(--ck-color-base-action);
    --ck-color-button-action-hover-background: #579e3d;
    --ck-color-button-action-active-background: #53973b;
    --ck-color-button-action-active-shadow: #498433;
    --ck-color-button-action-disabled-background: #7ec365;
    --ck-color-button-action-text: var(--ck-color-base-background);
    --ck-color-button-save: #008a00;
    --ck-color-button-cancel: #db3700;
    --ck-color-switch-button-off-background: #b0b0b0;
    --ck-color-switch-button-off-hover-background: #a3a3a3;
    --ck-color-switch-button-on-background: var(--ck-color-button-action-background);
    --ck-color-switch-button-on-hover-background: #579e3d;
    --ck-color-switch-button-inner-background: var(--ck-color-base-background);
    --ck-color-switch-button-inner-shadow: rgba(0,0,0,0.1);
    --ck-color-dropdown-panel-background: var(--ck-color-base-background);
    --ck-color-dropdown-panel-border: var(--ck-color-base-border);
    --ck-color-input-background: var(--ck-color-base-background);
    --ck-color-input-border: #c7c7c7;
    --ck-color-input-error-border: var(--ck-color-base-error);
    --ck-color-input-text: var(--ck-color-base-text);
    --ck-color-input-disabled-background: #f2f2f2;
    --ck-color-input-disabled-border: #c7c7c7;
    --ck-color-input-disabled-text: #757575;
    --ck-color-list-background: var(--ck-color-base-background);
    --ck-color-list-button-hover-background: var(--ck-color-button-default-hover-background);
    --ck-color-list-button-on-background: var(--ck-color-base-active);
    --ck-color-list-button-on-background-focus: var(--ck-color-base-active-focus);
    --ck-color-list-button-on-text: var(--ck-color-base-background);
    --ck-color-panel-background: var(--ck-color-base-background);
    --ck-color-panel-border: var(--ck-color-base-border);
    --ck-color-toolbar-background: var(--ck-color-base-foreground);
    --ck-color-toolbar-border: var(--ck-color-base-border);
    --ck-color-tooltip-background: var(--ck-color-base-text);
    --ck-color-tooltip-text: var(--ck-color-base-background);
    --ck-color-engine-placeholder-text: #707070;
    --ck-color-upload-bar-background: #6cb5f9;
    --ck-color-link-default: #0000f0;
    --ck-color-link-selected-background: rgba(31,177,255,0.1);
    --ck-color-link-fake-selection: rgba(31,177,255,0.3);
    --ck-disabled-opacity: .5;
    --ck-focus-outer-shadow-geometry: 0 0 0 3px;
    --ck-focus-outer-shadow: var(--ck-focus-outer-shadow-geometry) var(--ck-color-focus-outer-shadow);
    --ck-focus-disabled-outer-shadow: var(--ck-focus-outer-shadow-geometry) var(--ck-color-focus-disabled-shadow);
    --ck-focus-error-outer-shadow: var(--ck-focus-outer-shadow-geometry) var(--ck-color-focus-error-shadow);
    --ck-focus-ring: 1px solid var(--ck-color-focus-border);
    --ck-font-size-base: 13px;
    --ck-line-height-base: 1.84615;
    --ck-font-face: Helvetica,Arial,Tahoma,Verdana,Sans-Serif;
    --ck-font-size-tiny: 0.7em;
    --ck-font-size-small: 0.75em;
    --ck-font-size-normal: 1em;
    --ck-font-size-big: 1.4em;
    --ck-font-size-large: 1.8em;
    --ck-ui-component-min-height: 2.3em;
    --ck-border-radius: 2px;
    --ck-inner-shadow: 2px 2px 3px var(--ck-color-shadow-inner) inset;
    --ck-drop-shadow: 0 1px 2px 1px var(--ck-color-shadow-drop);
    --ck-drop-shadow-active: 0 3px 6px 1px var(--ck-color-shadow-drop-active);
    --ck-spacing-unit: 0.6em;
    --ck-spacing-large: calc(var(--ck-spacing-unit)*1.5);
    --ck-spacing-standard: var(--ck-spacing-unit);
    --ck-spacing-medium: calc(var(--ck-spacing-unit)*0.8);
    --ck-spacing-small: calc(var(--ck-spacing-unit)*0.5);
    --ck-spacing-tiny: calc(var(--ck-spacing-unit)*0.3);
    --ck-spacing-extra-tiny: calc(var(--ck-spacing-unit)*0.16);
    --ck-icon-size: calc(var(--ck-line-height-base)*var(--ck-font-size-normal));
    --ck-tooltip-arrow-size: 5px;
    --ck-switch-button-toggle-width: 2.6153846154em;
    --ck-switch-button-toggle-inner-size: 1.0769230769em;
    --ck-switch-button-toggle-spacing: 1px;
    --ck-switch-button-translation: calc(var(--ck-switch-button-toggle-width) - var(--ck-switch-button-toggle-inner-size) - 2*var(--ck-switch-button-toggle-spacing));
    --ck-color-grid-tile-size: 24px;
    --ck-color-color-grid-check-icon: #000;
    --ck-color-split-button-hover-background: #ebebeb;
    --ck-color-split-button-hover-border: #b3b3b3;
    --ck-dropdown-max-width: 75vw;
    --ck-dropdown-arrow-size: calc(0.5*var(--ck-icon-size));
    --ck-toolbar-dropdown-max-width: 60vw;
    --ck-color-editable-blur-selection: #d9d9d9;
    --ck-form-header-height: 38px;
    --ck-input-text-width: 18em;
    --ck-labeled-field-view-transition: .1s cubic-bezier(0,0,0.24,0.95);
    --ck-labeled-field-empty-unfocused-max-width: 100% - 2 * var(--ck-spacing-medium);
    --ck-color-labeled-field-label-background: var(--ck-color-base-background);
    --ck-balloon-panel-arrow-z-index: calc(var(--ck-z-default) - 3);
    --ck-balloon-arrow-offset: 2px;
    --ck-balloon-arrow-height: 10px;
    --ck-balloon-arrow-half-width: 8px;
    --ck-balloon-arrow-drop-shadow: 0 2px 2px var(--ck-color-shadow-drop);
    --ck-balloon-fake-panel-offset-horizontal: 6px;
    --ck-balloon-fake-panel-offset-vertical: 6px;
    --ck-color-block-toolbar-button: var(--ck-color-text);
    --ck-block-toolbar-button-size: var(--ck-font-size-normal);
    --ck-widget-type-around-button-size: 20px;
    --ck-color-widget-type-around-button-active: var(--ck-color-focus-border);
    --ck-color-widget-type-around-button-hover: var(--ck-color-widget-hover-border);
    --ck-color-widget-type-around-button-blurred-editable: var(--ck-color-widget-blurred-border);
    --ck-color-widget-type-around-button-radar-start-alpha: 0;
    --ck-color-widget-type-around-button-radar-end-alpha: .3;
    --ck-color-widget-type-around-button-icon: var(--ck-color-base-background);
    --ck-color-resizer: var(--ck-color-focus-border);
    --ck-color-resizer-tooltip-background: #262626;
    --ck-color-resizer-tooltip-text: #f2f2f2;
    --ck-resizer-border-radius: var(--ck-border-radius);
    --ck-resizer-tooltip-offset: 10px;
    --ck-resizer-tooltip-height: calc(var(--ck-spacing-small)*2 + 10px);
    --ck-widget-outline-thickness: 3px;
    --ck-widget-handler-icon-size: 16px;
    --ck-widget-handler-animation-duration: 200ms;
    --ck-widget-handler-animation-curve: ease;
    --ck-color-widget-blurred-border: #dedede;
    --ck-color-widget-hover-border: #ffc83d;
    --ck-color-widget-editable-focus-background: var(--ck-color-base-background);
    --ck-color-widget-drag-handler-icon-color: var(--ck-color-base-background);
    --ck-clipboard-drop-target-dot-width: 12px;
    --ck-clipboard-drop-target-dot-height: 8px;
    --ck-clipboard-drop-target-color: var(--ck-color-focus-border);
    --ck-resizer-size: 10px;
    --ck-resizer-offset: calc(var(--ck-resizer-size)/-2 - 2px);
    --ck-resizer-border-width: 1px;
    --ck-color-table-focused-cell-background: rgba(158,207,250,0.3);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    color: #2F3941;
    -webkit-box-direction: normal;
    line-height: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    max-height: 400px;
    overflow-y: auto;
    position: static !important;
    
    
    box-sizing: border-box;
    border: 1px solid rgb(216, 220, 222);
    border-radius: 4px;
    box-shadow: rgba(23, 73, 77, 0.15) 0px 20px 30px 0px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    padding: 0px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    animation: 0.2s cubic-bezier(0.15, 0.85, 0.35, 1.2) 0s 1 normal;
}

        }
    }
}

#sidebar{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:22vw;
    border-right: 2px solid #131110;
    color: $rfa_white;
    ul,li{
        list-style-type:none;
        margin:0px;
        padding:0px;
    }
    ul{
        margin-top: 24px;
        font-size: 0.8rem;
    }
    li{
        margin: 8px 0px;
        padding: 4.5px 0px;
        display: flex;
        justify-content: space-between;
        user-select: none;
        .count{
            padding-right:26px;
        }
        &:hover{
            font-weight:900;
            cursor:pointer;
            background-color: #2f1d0c;
        }
    }
    h2{
        font-size: 1rem;
        color: $rfa_white;
        margin-top: 54px;
        font-weight:900;
        padding-bottom:6px;
        border-bottom: 1px solid #131110;
    }
}
.rfa-list{
    width:77%;
    color: $rfa_white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    a, a:visited{
        color: $rfa_white;
    }
    #rfa_index{
        display: flex;
        flex-direction: column;
        height:100%;
        .rfa-list-item{
            display:none;
            &.show{
                display:block;
            }
        }
        .index-header{
            display: flex;
            width: 100%;
            font-weight:900;
            justify-content: space-between;
            border-bottom: 1px solid #131110;
        }
        .rfa-row{
            display:flex;
            justify-content: space-between;
            color: $rfa_white;
            text-decoration: none;
            padding:3px 0px;
            font-weight:100;
            &:hover{
                font-weight:900;
                background-color: #2f1d0c;
                color: $rfa_white;
            }
        }
    }
}
#rfas{
    margin:0px;
    padding:0px;
    height:100vh;
    width:100vw;
    background-color:black;
    .rfa-main{
        display:flex;
        height:100%;
        padding:28px;
    }
    .rfa-summary{
        height: 100px;
        width: 100%;
        padding: 10px;
        font-size: 2rem;
        display: flex;
        padding-left: 20%;
        align-items: center;
    }
    .rfa-action-buttons{
        display:flex;
        width:100%;
        flex-direction:row;
        justify-content: space-evenly;
        button{
        width:70px;
        }
    }
}

#rfa_open  #rfa_status_id{
    padding: 9px;
    display: flex;
    width: 180px;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    background-color:white;
    color:black;
    position:relative;
}    
#status_field{
    position: absolute;
    bottom: 0px;
    right: 4.6vw;
}
