#traderun{
    overflow: scroll;
    height:100vh;
select{
    font-family: dos;    
    text-transform:uppercase;
    background-color:black;
    text-transform:uppercase;
    color:white;
    font-size: 1.3rem;
    padding:0px;
    border:0xp;
}
.selected select{
    background-color:blue;
}
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 16px;
    font-family: dos;    
    text-transform:uppercase;
  }
  td, th {
    border: 1px solid black;
    padding:5px;
    text-align: center;
    transform: scaleY(1.5);       
    font-size: 1.3rem;
  }
   #shell .shell-container{
    padding-left:0px;
    padding-right:0px;
  }
  th {
    background-color: #07a7a8;
    color: black;

  }

  .radio{
    cursor:pointer;
  }
  td{
    color: #b9b9b9;
    line-height: 1.1;                
  }
  .selected {
    background-color: blue;
  }
  #shell{
    background-color:black;
  }
  #spreadsheet{
    font-family:dos;
    td input {
      width:76px;
    }
  }
  #spreadsheet tr:nth-child(2){
    height: 82.5px;
  }
#shell .shell-container #traderun-menu a{
color: #b9b9b9;

}
.rownumber{
background-color: #07a7a8;
color: black;
width: 50px;
border:0px;

}
#shell .shell-container{
height: 85vh;

overflow: scroll;
}
.active{
background-color:blue;    
}

  #traderun-menu {
    display: flex;
    align-items: stretch;
    justify-content: center;
    
    padding: 10px 0;
    border-bottom: 1px solid #1c2024;
    color: #b9b9b9;
    margin-top:0px;
  }
    .hidden{
        display:none !important;
    }
  .menu-container {
    font-family: dos;
    transform: scaleY(1.5);
    line-height: 0.3;
    font-size: 1.3rem;
    padding-top: 7px;
    
  }
  
  .menu-bar {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  .menu-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-bar li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  .menu-bar a {
    display: block;
    color: #b9b9b9;
    text-decoration: none;
    padding: 8px 14px;
    border-right: 1px solid #666666;
  }
  
  .menu-bar a:hover {
    background-color: blue;
    color:black;
  }
  
  .menu-bar:last-of-type a {
    border-right: none;
  }
  .addRun{
    display:block;
    cursor:pointer;
    height: 20px;
    margin: 0px auto;
    width: 40px;
    order:99;
  }

  .remove-commodity{
    width:30px;
    cursor:pointer;
    display:block;
  }
  .split-commodity{
    display:flex;
  }
.split-inputs{
  width:50px;
}

.split-header{
  display:flex;
  justify-content: right;
    & div {
      width:40px;
    }
  }
  #spreadsheet input{
      color:#b9b9b9;
      background-color:transparent;
    
  }
  .split-container{
    display: flex;
    flex-direction: column;

  }

}