@import 'mixins';

#window_frame{
    width: 100%;
    position: fixed;
    top: 0px;
    height: 30px;
    overflow: hidden;
    display:flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: $light_grey;
    border-top: $highlight_border;
    border-left: $highlight_border;
    border-right: $shadow_border;
    border-bottom: $shadow_border;
    background-color: $light_grey;
   // user-select: none;
   // z-index:9001;
    .app-bar{
        display: flex;
        align-items: center;
        color:white;
        height:20px;
        font-weight:900;
        height:100%;
        font-size:1.2rem;
     //  pointer-events: none;
    //    user-select: none;

    }
    .highlight{
        background-color:$system_blue;
        width:100%;
        margin:3px;
    }
  }

.icon{
  width: 22px;
  height:22px;
  margin-left: 2px;
  margin-right: 5px;
  overflow: hidden;
  img.invalid{
    background-position: top;
    object-fit: contain;
    transform: translateX(-294px) translateY(3px);
    height: 663px;
    width: auto;
    &.user_profile{
      background-position: top;
      object-fit: contain;
      transform: translateX(-816px) translateY(-479px);
      height: 663px;
      width: auto;
  }

  }
  img{
    width:21px;
    margin-left:2px;
    margin-right:5px;
  }
}