
<% @department = Department.find_by_id(attribute) %>

    <div class="position-container">

        <div class="position-body">
      

        Apply today for positions in the <%= @department.title %>


        <div class="department-position-list">
            List of all positions:
            <% @department.positions.each do |position|  %>
                <%= position.title %>
            <% end %>


        </div>

        </div>
    </div>
