<div id="<%= dom_id guildstone %>">
  <p>
    <strong>Charter:</strong>
    <%= guildstone.charter %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= guildstone.title %>
  </p>

  <p>
    <%= link_to "Show this guildstone", guildstone %>
  </p>
</div>
