<div class="window-icon-bar">
    <div class="shortcut-icon-container">
    <a title="Create new position" href="#"><%= image_tag("all_icons.png", class: "position-create") %> </a>

    </div>
    <div class="shortcut-icon-container"><a title="Create new department"  href="#"></a></div>
    <div class="shortcut-icon-container"><a title="Create new position" href="#"></a></div>
    <div class="shortcut-icon-container"><a title="Create new rule" href="#"></a></div>
    <div class="shortcut-icon-container"><a title="Create new nomination" href="#"></a></div>
    <div class="shortcut-icon-container"><a title="View index" href="#"></a></div>

    <div class="shortcut-icon-container"><a href="#"></a></div>
    <div class="shortcut-icon-container"><a href="#"></a></div>
    <div class="shortcut-icon-container"><a href="#"></a></div>
    <div class="shortcut-icon-container"><a href="#"></a></div>
    <div class="shortcut-icon-container"><a href="#"></a></div>
    <div class="shortcut-icon-container"><a href="#"></a></div>
    <div class="shortcut-icon-container"><a href="#"></a></div>
    <div class="shortcut-icon-container"><a href="#"></a></div>
    <div class="shortcut-icon-container"><a href="#"></a></div>
</div>