<div draggable="true" class="guildstone-modal">
<div class="section-window-header"><%= position.title %> 
    <%#= form_with(model: task) do |form| %>
    <%#= button_to "", task, class:'close-btn windowed', method: :delete  %>
    <%# end %>
    </div>
    <div class="position-container">
        <div class="position-header">
        <%#= position.user %> Anne Dodsworth
        </div>
        <div class="position-body">
            <div class="position-action">
                <div class="position-row">Employee ID:  </div>
                <div class="position-row">Last Name:   First Name:</div>
                <div class="position-row">Title:  </div>
                <div class="position-row">Extension:  </div>
                <div class="position-row">Hire Date: </div>
                <hr />
                <div class="buttons">
                <%= form_with(model: UserPosition) do |form| %>
                    <%= form.hidden_field :status_id, :value => position.id %>
                    
                    <%= form.submit 'Apply' %>
                <% end %>
                    <a href="btn">Nominate</a>
                    <a href="btn">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>