<h1>Editing guildstone</h1>

<%= render "form", guildstone: @guildstone %>

<br>

<div>
  <%= link_to "Show this guildstone", @guildstone %> |
  <%= link_to "Back to guildstones", guildstones_path %>
</div>
