<%= render '/desktop/window-frame', app1: 'Guildstone' %>



<div class="window-container">
  <ul class="window-menu">
    <li>File</li>
    <li>File</li>
    <li>File</li>
    <li>File</li>
    <li>File</li>
    <li>File</li>
  </ul>
  <div class="window-icon-bar">
    <div class="shortcut-icon"></div>
    <div class="shortcut-icon"></div>
    <div class="shortcut-icon"></div>
    <div class="shortcut-icon"></div>
    <div class="shortcut-icon"></div>
    <div class="shortcut-icon"></div>
    <div class="shortcut-icon"></div>
    <div class="shortcut-icon"></div>
    <div class="shortcut-icon"></div>
    <div class="shortcut-icon"></div>
    <div class="shortcut-icon"></div>
    <div class="shortcut-icon"></div>
    <div class="shortcut-icon"></div>
    <div class="shortcut-icon"></div>
    <div class="shortcut-icon"></div>
  </div>
  <div class="window-section-body-conatiner">
    <div class="window-section-body">
      <div class="section-header">Relationships</div>

      <%= @departments.each do |department| %>
        <div class="section-window">
          <div class="section-window-header"><%= department.title %></div>
        </div>
      <% end %>
    </div>
  </div>




<%= render '/desktop/taskbar', app1: 'Guildstone' %>