<% if !@active_rfa.blank? %>
<div id="rfa_status_modal">
<%= image_tag('status-banner.png', class:'status-banner')  %>

<%= turbo_stream_from "active_rfa" %>
<div id="active_rfa">
  
  <div style="height:100%;" id="<%= "#{dom_id(@active_rfa)}_item" %>">
    <%= render  "rfas/status", active_rfa:@active_rfa, review: @review %>

  </div>

</div>
</div>


  <% end %>