<div id="roadside_assistance">
<a href="https://www.altama.energy" class="logo-container" title="Altama Energy">
<%= image_tag("altama_logo.png") %>
    
</a>

<div class="modal-content">
    <div class="modal-body">
        <div class="tab-content">
            <div id="location-select">

            <header>
            <h3>Roadside Assistance - Refilling the 'verse </h3>
            <p>Please select your nearest stellar body</p>
            <p class="disclaimer">*Services may vary based on astro location.</p>
            </header>

    <ul class="location-group">
    <% @all_planets.each do | level_two | %>
    <li class="location-list-item">
            <a href="<%= rfa_location_path(location: level_two.id) %>" class="btn-location" aria-controls="location-selected-tab" aria-selected="false" >
            <%= level_two.name %>
            </a>
        </li>
       <% end %>

</ul>

<footer class="tab-pane-footer">
<a href="https://www.altama.energy" class="btn-arrow">
    Back to Altama Energy</a>
</footer>
</div>

 