<div id="rfa_hurston">
<header><div class="logo"> <%= image_tag("altama_logo_white.png") %> </div><div class="title">Roadside Request</div> <div class="back">Back to Altama Energy website</div></header>
<div class="left-drawer">
    <div class="drawer-header">
        <img src="https://media.robertsspaceindustries.com/5ukbyxyx8t6ek/source.jpg">
    </div>
    <div class="drawer-body">
    <h2>Altama Roadside Assistance</h2>
    <p>
    Altama accepts online requests for  spaceship service 24-hours a day so you can be confident your service request will be handled promptly. 
    </p>

    <%= render "rfa-form", rfa: @rfa %>

    <a href="">Member Owner</a>
    <small>Learn more about our Member Owner program</small>
    </div>
</div>

</div>