Existing Trade Sessions<br />
________________________<br />
<ul>
<% @all_trade_sessions.each do |trade_session| %>

    <li data-traderun-target="menuItem" >
        <%if trade_session.owner %>
        <%= trade_session.owner.username %>
        <% end %>
    <%= link_to trade_session.session_date, traderun_command_path("trade_session-#{trade_session.id}")  %>     
</li>
    <% end %>
    </ul>

    