<ul class="session-menu" data-traderun-target="sessionMenu">
  <li data-traderun-target="menuItem">
    <%= link_to traderun_command_path("trade_run-#{@current_task.state.split("-").last}")  do %> 
      Open Traderun
    <% end %>
  </li>
  <li data-traderun-target="menuItem">
  <%= link_to traderun_command_path("milk_run-#{@current_task.state.split("-").last}")  do %> 
    Open Milkrun
  <% end %>
</li>
  <li  data-traderun-target="menuItem">
    <%= link_to traderun_command_path("profit-#{@current_task.state.split("-").last}")  do %> 
      Profit Distribution
    <% end %>
  </li>
  <li  data-traderun-target="menuItem" data-action="sessionStreamCharts">
    <a href="#">
      Streamcharts
    </a>
  </li>
  <li  data-traderun-target="menuItem" >
  <%= link_to traderun_command_path("settings-#{@current_task.state.split("-").last}")  do %> 
  Settings
  <% end %>
  </li>
</ul>