<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<%


<script>
var tradeRunUsernames = <%= raw @trade_runs_users.to_json %>;
var userPayoutData = <%= raw @user_payout.to_json %>;
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: tradeRunUsernames,
      datasets: [{
        label: 'Captain Payouts',
        data: userPayoutData,
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<% if controller_name == "desktop" %>
  <%= render '/trade123/footer_menu' %>
<% end %>