<div id="task_manager">

<%= render '/desktop/window-frame', app1: 'Task Manager', task: @current_task %>

<ul class="task-list">
<% if @all_tasks.present? %>
    <% @all_tasks.each do | task |  %>
    <li><%= task.name %> | <%= task.id %> </li>
    <% end %>
<% end %>
</ul>
<%= link_to 'Close all', killall_path %>
</div>