
<div id="window_frame">
<div class="highlight">

    <% if defined?(app1) %>
    <div class="app-bar">
    <%= image_tag("conquest_icon.png") %> <%= app1 %>
     </div>
    <% end %>

<div class="control-buttons">

<%=link_to "", root_url, class: 'close-btn' %>

</div>
</div>
</div>
